Numerical semigroups by genus are counted by <a href="http://oeis.org/A007323">OEIS A007323</a>.
The number of semigroups with genus $g$ and conductor $2g$, so-called <span class="def">symmetric numerical semigroups</span>, is given by <a href="http://oeis.org/A158278">OEIS A158278</a>.