<ul id="refs">
<li>[BA08] M. Bras-Amor&oacute;s. Fibonacci-like behavior of the number of numerical semigroups of a given genus. Semigroup Forum, 76(2):379–384, 2008.
</li>
<li>[BAFG18] M. Bras-Amor&oacute;s and J. Fern&aacute;ndez-Gonz&aacute;lez. Computation of numerical semigroups by means of seeds. Math. Comp., 87(313):2539–2550, 2018.
</li>
<li>[Kap17] N. Kaplan. Counting numerical semigroups. Amer. Math. Monthly, 124(9):862–875, 2017.
</li>
</ul>