<head>
<meta charset="UTF-8">
<meta name="description" content="Combinatorial Object Server">
<meta name="keywords" content="combinatorics, generation, algorithm, permutation, combination, partition, de Bruijn sequence, necklace, Lyndon word, bracelet, chord diagram, stamp folding, meander, semigroup, tree, FXT library">
<meta name="author" content="Torsten M&uuml;tze, Joe Sawada, Aaron Williams">
<meta name="google-site-verification" content="mhDYxD3jbySVZJmyGhiA8rcrsf8G4C5JVmuxCz7g4iA">
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], displayMath: [['$$','$$'], ["\\[","\\]"]]}});</script>
<link rel="stylesheet" href="style.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<!-- global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119887565-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-119887565-1');
</script>
</head>