body {
  background-color: #ffffff;
  font-family: "Verdana", sans-serif;
  margin: 0;
}

body#console {
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Courier New", monospace;
  margin: 0;
  word-break: break-all;
}

/* page headings */
h1 {
  font-size: 140%;
  margin-top: 5px;
}

/* these are the collapsible headings */
h2 {
  font-size: 110%;
  margin-bottom: 8px;
  cursor: pointer;
}

/* this is the inline "Results" heading on the top right */
span.h2 {
  font-weight: bold;
  font-size: 110%;
}

/* references */
ul#refs {
  font-size: 85%;
  margin: 0;
  padding: 0;
  padding-left: 18px;
}

/* run button */
input#run{
  color: white;
  background-color: #4CAF50;
}

/* definitions */
.def {
  font-style: italic;
}

/* menu on the left hand side */
ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* menu anchor */
li#menu_item a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

/* currently active menu item */
li#menu_item a.active {
  background-color: #4CAF50;
  color: white;
}

/* hovering over currently not active menu item */
li#menu_item a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* content in a single page on the right hand side */
div#main {
  margin: 0;
  margin-left: 170px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  background-color: #ffffff;
}

/* content in two pages on the right hand side */
div#algo {
  float: left;
  margin: 0;
  margin-left: 170px;
  margin-right: 20px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

/* algorithm output */
div#output {
  width: 100%;
  height: 150px;  
  margin: 0;
  margin-top: 10px;
  padding: 0;
  background-color: #ffffff;
  resize: vertical;
  overflow: auto;  
  min-height: 100px;
}

/* console */
iframe#consoleframe {
  margin-top: 5px;
  border-width: 0px;
  width: 100%;
  height: calc(100% - 50px);
}

/* table for algorithm input options */
div#input {
  width: 100%;
  background-color: F2E2A2;
}

table#input {
  margin-top: 5px;
  padding: 5px;
  border-spacing: 5px;
}

/* collapsible sections */
div.collapse_section {
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden; 
  transition: max-height 0.2s ease-out;
}

/* old COS information tables */
table.data td {
  padding-left: 10px;
  padding-right 10px;
}

th {
  font-weight: normal;
}

table.data td.special, th.special {
  padding-left: 10px;
  padding-right: 10px;
  background-color: F2E2A2;
}