<ul id="refs">
<li>[CRS+00] K. Cattell, F. Ruskey, J. Sawada, M. Serra, and C. R. Miers. Fast algorithms to generate necklaces, unlabeled necklaces, and irreducible polynomials over GF(2). J. Algorithms, 37(2):267–282, 2000.
</li>
<li>[&Dstrok;KRS15] D. &Zcaron;. &Dstrok;okovi&cacute;, I. Kotsireas, D. Recoskie, and J. Sawada. Charm bracelets and their application to the construction of periodic Golay pairs. Discrete Appl. Math., 188:32–40, 2015.
</li>
<li>[KSAH13] S. Karim, J. Sawada, Z. Alamgir, and S. M. Husnine. Generating bracelets with fixed content. Theoret. Comput. Sci., 475:103–112, 2013.
</li>
<li>[RS99] F. Ruskey and J. Sawada. An efficient algorithm for generating necklaces with fixed density. SIAM J. Comput., 29(2):671–684, 1999.
</li>
<li>[RS00] F. Ruskey and J. Sawada. Generating necklaces and strings with forbidden substrings. In Computing and combinatorics (Sydney, 2000), volume 1858 of Lecture Notes in Comput. Sci., pages 330–339. Springer, Berlin, 2000.
</li>
<li>[Saw01] J. Sawada. Generating bracelets in constant amortized time. SIAM J. Comput., 31(1):259–268, 2001.
</li>
<li>[Saw02] J. Sawada. A fast algorithm for generating nonisomorphic chord diagrams. SIAM J. Discrete Math., 15(4):546–561, 2002.
</li>
<li>[Saw03] J. Sawada. A fast algorithm to generate necklaces with fixed content. Theoret. Comput. Sci., 301(1-3):477–489, 2003.
</li>
<li>[SR03] J. Sawada and F. Ruskey. Generating Lyndon brackets. J. Algorithms, 46(1):21–26, 2003.
</li>
</ul>
