<table id="input">
<tr>
<td>Parameter $n$ (length is $2n+1$)</td>
<td><input type="text" id="n" value="2" size="2" maxlength="2"/> (max. 15)</td>
</tr>
<tr>
<td>Initial bitstring</td>
<td><input type="text" id="v" size="10" maxlength="40"/></td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var inpv = document.getElementById("v").value;
  var selfmt = document.getElementById("fmt");
  var url = "web/middle/run.php?n=" + document.getElementById("n").value
            + (((inpv.trim() == "") || isNaN(inpv)) ? "" : "&v=" + inpv)
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>