The number of integer partitions is given by the partition numbers (<a href="http://oeis.org/A000041">OEIS A000041</a>), and the number of set partitions is given by the Bell numbers (<a href="http://oeis.org/A000110">OEIS A000110</a>).