<table id="input">
<tr>
<td>Object type</td>
<td>
<select id="a" autocomplete="off">
  <option value="0" selected>Integer partitions</option>
  <option value="1">Set partitions</option>
</select>
</td>
</tr>
<tr>
<td>Size $n$ of the integer/set</td>
<td><input type="text" id="n" value="8" size="2" maxlength="2"/> (max. 15)</td>
</tr>
<tr>
<td>Number $m$ of parts/subsets</td>
<td><input type="text" id="m" size="2" maxlength="2"/> (between 1 and $n$)</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var sela = document.getElementById("a");
  var inpm = document.getElementById("m").value;
  var selfmt = document.getElementById("fmt");  
  var url = "web/part/run.php?n=" + document.getElementById("n").value
            + (((inpm.trim() == "") || isNaN(inpm)) ? "" : "&m=" + inpm)
            + "&a=" + sela.options[sela.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
