<ul id="refs">
<li>[Arn10] J. Arndt. Matters Computational - Ideas, Algorithms, Source Code [The fxtbook]. www.jjj.de, 2010.
</li>
<li>[Cor92] P. F. Corbett. Rotator graphs: An efficient topology for point-to-point multiprocessor networks. IEEE Transactions on Parallel and Distributed Systems, 3:622–626, 1992.
</li>
<li>[Hea63] B. R. Heap. Permutations by interchanges. The Computer Journal, 6(3):293–298, 1963.
</li>
<li>[Joh63] S. Johnson. Generation of permutations by adjacent transposition. Math. Comp., 17:282–285, 1963.
</li>
<li>[Knu11] D. E. Knuth. The Art of Computer Programming. Vol. 4A. Combinatorial Algorithms. Part 1. Addison-Wesley, Upper Saddle River, NJ, 2011.
</li>
<li>[Sav97] C. Savage. A survey of combinatorial Gray codes. SIAM Rev., 39(4):605–629, 1997.
</li>
<li>[Ste64] H. Steinhaus. One hundred problems in elementary mathematics. Basic Books, Inc., Publishers, New York, 1964. With a foreword by Martin Gardner.
</li>
<li>[SW18] J. Sawada and A. Williams. A Hamilton path for the sigma-tau problem. In Proceedings of the 29th Annual ACM-SIAM Symposium on Discrete Algorithms, SODA 2018, pages 568–575, 2018.
</li>
<li>[Tro62] H. Trotter. Algorithm 115: Perm. Commun. ACM, 5(8):434–435, Aug 1962.
</li>
</ul>