<ul id="refs">
<li>[GM18] P. Gregor and T. Mütze. Trimming and gluing Gray codes. Theoret. Comput. Sci., 714:74–95, 2018.
</li>
<li>[Gra53] F. Gray. Pulse code communication, 1953. March 17, 1953 (filed Nov. 1947). U.S. Patent 2,632,058.
</li>
<li>[TL73] D. Tang and C. Liu. Distance-2 cyclic chaining of constant-weight codes. IEEE Trans. Computers, C-22:176–180, 1973.
</li>
</ul>