<table id="input">
<tr>
<td>Size $n$ of ground set</td>
<td><input type="text" id="n" value="7" size="2" maxlength="2"/> (max. 20)</td>
</tr>
<tr>
<td>Size $k$ of subsets</td>
<td><input type="text" id="k" value="3" size="2" maxlength="2"/> (between 0 and $n$)</td>
</tr>
<tr>
<td>Algorithm</td>
<td>
<select id="a" autocomplete="off">
  <option value="0" selected>Lexicographic order</option>
  <option value="1">Colexicographic order</option>
  <option value="2">Prefix rotation (Ruskey-Williams' cool-lex)</option>
  <option value="3">Minimal-change order (BRGC-based)</option>
  <option value="4">Strong minimal-change order (Eades-McKay)</option>
  <option value="5">Two-close Gray code (Chase)</option>
</select>
</td>
</tr>
<tr>
<td>Print set representation</td>
<td><input type="checkbox" id="p"/></td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var sela = document.getElementById("a");   
  var selfmt = document.getElementById("fmt");
  var url = "web/comb/run.php?n=" + document.getElementById("n").value
            + "&k=" + document.getElementById("k").value
            + "&a=" + sela.options[sela.selectedIndex].value  
            + "&p=" + (document.getElementById("p").checked ? "1" : "0")
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
