<table id="input">
<tr>
<td>String length $n$</td>
<td><input type="text" id="n" value="7" size="3" maxlength="3"/> (max. <?php echo limit_bruijn(2) . "/" . limit_bruijn(3) . "/" . limit_bruijn(4); ?>)</td>
</tr>
<tr id="alpha">
<td>Alphabet size $k$</td>
<td>
<select id="k" autocomplete="off">
  <option value="2" selected>2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
</td>
</tr>
<tr>
<td>Algorithm</td>
<td>
<select id="a" autocomplete="off" onchange="achange()">
  <option value="1" selected>Rule Granddaddy (lex. minimal)</option>
  <option value="2">Rule Grandmama</option>
  <option value="3">Rule PCR3</option>
  <option value="4">Rule PCR4</option>
  <option value="5">Rule CCR1</option>
  <option value="6">Rule CCR2</option>
  <option value="7">Rule CCR3</option>
  <option value="8">Greedy prefer largest</option>
  <option value="9">Greedy prefer smallest</option>
  <option value="10">Greedy prefer opposite</option>
  <option value="11">Greedy prefer same</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="1">text</option>
  <option value="2">file</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function achange()
{
  var sela = document.getElementById("a");
  var tralpha = document.getElementById("alpha");
  if (sela.selectedIndex <= 6) {
    tralpha.style.display = "none";
  } else {
    tralpha.style.display = "";
  }
}

function run()
{
  enlarge_output();
  var selk = document.getElementById("k");
  var sela = document.getElementById("a");
  var selfmt = document.getElementById("fmt");
  var url = "web/bruijn/run.php?n=" + "&k=" + selk.options[selk.selectedIndex].value
            + "&n=" + document.getElementById("n").value
            + "&a=" + sela.options[sela.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value;
  document.getElementById("consoleframe").src = url;
}
</script>

<script> achange(); </script>