A <span class="def">lattice path</span> is a path in the two-dimensional integer grid $\mathbb{Z}^2$ that starts at the origin $(0,0)$ and that consists of steps that change the current position by $(+1,+1)$ or by $(+1,-1)$, and these are called <span class="def">upsteps</span> and <span class="def">downsteps</span>, respectively.
We only consider lattice paths that have the same number of upsteps and downsteps, i.e., they end on the line $y=0$.
In our program, we represent a lattice path by a bitstring, by reading the path from left to right, and encoding every downstep by a 0-bit and every upstep by a 1-bit.
A <span class="def">flaw</span> of the lattice path is a downstep below the line $y=0$.
The following figure shows a lattice path with 3 flaws (highlighted in red), together with its bitstring representation.

<p>
<style>.l{stroke:black;stroke-width:1.5}.f{stroke:red;stroke-width:2.5}.c{stroke-width:0;fill:black}.a{stroke:lightgray;stroke-width:1.5}</style>
<svg width='149' height='53' viewBox='-2.5 -14.5 149 53'>
<line class='a' x1='0' y1='12' x2='144' y2='12'/>
<line class='l' x1='0' y1='12' x2='12' y2='0'/><circle class='c' cx='0' cy='12' r='2.5'/>
<line class='l' x1='12' y1='0' x2='24' y2='12'/><circle class='c' cx='12' cy='0' r='2.5'/>
<line class='f' x1='24' y1='12' x2='36' y2='24'/><circle class='c' cx='24' cy='12' r='2.5'/>
<line class='l' x1='36' y1='24' x2='48' y2='12'/><circle class='c' cx='36' cy='24' r='2.5'/>
<line class='f' x1='48' y1='12' x2='60' y2='24'/><circle class='c' cx='48' cy='12' r='2.5'/>
<line class='f' x1='60' y1='24' x2='72' y2='36'/><circle class='c' cx='60' cy='24' r='2.5'/>
<line class='l' x1='72' y1='36' x2='84' y2='24'/><circle class='c' cx='72' cy='36' r='2.5'/>
<line class='l' x1='84' y1='24' x2='96' y2='12'/><circle class='c' cx='84' cy='24' r='2.5'/>
<line class='l' x1='96' y1='12' x2='108' y2='0'/><circle class='c' cx='96' cy='12' r='2.5'/>
<line class='l' x1='108' y1='0' x2='120' y2='-12'/><circle class='c' cx='108' cy='0' r='2.5'/>
<line class='l' x1='120' y1='-12' x2='132' y2='0'/><circle class='c' cx='120' cy='-12' r='2.5'/>
<line class='l' x1='132' y1='0' x2='144' y2='12'/><circle class='c' cx='132' cy='0' r='2.5'/>
<circle class='c' cx='144' cy='12' r='2.5'/>
</svg>100100111100

<p>
A <span class="def">Dyck path</span> is a lattice path with no flaws.
The <span class="def">Chung-Feller theorem</span> [CF49] asserts that for each fixed number $e$ of flaws, the number of lattice paths of length $2k$ with $e$ flaws is given by the $k$-th Catalan number, independently of the value of $e$.
In particular, Dyck paths are counted by the Catalan numbers.
The paper by M&uuml;tze, Standke and Wiechert [MSW18] provides a new proof of the Chung-Feller theorem.
Specifically, it describes a bijection between lattice paths of length $2k$ with $e$ flaws and $e+1$ flaws, with the additional property that the bijection only swaps two steps of the lattice path (an upstep with a downstep).
This bijection is illustrated in the following figure for $k=3$, and it operates along the columns.
When iterating the bijection from $e=0$ to $e=k$, every step of the lattice path is flipped exactly once, i.e., the bijection maps complementary paths onto each other (compare the first and last row).

<p>
<table style="border-spacing:10px">
<style>.l{stroke:black;stroke-width:1.5}.f{stroke:red;stroke-width:2.5}.c{stroke-width:0;fill:black}.a{stroke:lightgray;stroke-width:1.5}</style>
<tr><td>flaws</td><td></td><td></td><td></td><td></td><td></td>
<tr>
<td>0</td>
<td><svg width='77' height='41' viewBox='-2.5 -26.5 77 41'><line class='a' x1='0' y1='12' x2='72' y2='12'/><line class='l' x1='0' y1='12' x2='12' y2='0'/><circle class='c' cx='0' cy='12' r='2.5'/><line class='l' x1='12' y1='0' x2='24' y2='12'/><circle class='c' cx='12' cy='0' r='2.5'/><line class='l' x1='24' y1='12' x2='36' y2='0'/><circle class='c' cx='24' cy='12' r='2.5'/><line class='l' x1='36' y1='0' x2='48' y2='12'/><circle class='c' cx='36' cy='0' r='2.5'/><line class='l' x1='48' y1='12' x2='60' y2='0'/><circle class='c' cx='48' cy='12' r='2.5'/><line class='l' x1='60' y1='0' x2='72' y2='12'/><circle class='c' cx='60' cy='0' r='2.5'/><circle class='c' cx='72' cy='12' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -14.5 77 41'><line class='a' x1='0' y1='24' x2='72' y2='24'/><line class='l' x1='0' y1='24' x2='12' y2='12'/><circle class='c' cx='0' cy='24' r='2.5'/><line class='l' x1='12' y1='12' x2='24' y2='0'/><circle class='c' cx='12' cy='12' r='2.5'/><line class='l' x1='24' y1='0' x2='36' y2='12'/><circle class='c' cx='24' cy='0' r='2.5'/><line class='l' x1='36' y1='12' x2='48' y2='24'/><circle class='c' cx='36' cy='12' r='2.5'/><line class='l' x1='48' y1='24' x2='60' y2='12'/><circle class='c' cx='48' cy='24' r='2.5'/><line class='l' x1='60' y1='12' x2='72' y2='24'/><circle class='c' cx='60' cy='12' r='2.5'/><circle class='c' cx='72' cy='24' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -14.5 77 41'><line class='a' x1='0' y1='24' x2='72' y2='24'/><line class='l' x1='0' y1='24' x2='12' y2='12'/><circle class='c' cx='0' cy='24' r='2.5'/><line class='l' x1='12' y1='12' x2='24' y2='24'/><circle class='c' cx='12' cy='12' r='2.5'/><line class='l' x1='24' y1='24' x2='36' y2='12'/><circle class='c' cx='24' cy='24' r='2.5'/><line class='l' x1='36' y1='12' x2='48' y2='0'/><circle class='c' cx='36' cy='12' r='2.5'/><line class='l' x1='48' y1='0' x2='60' y2='12'/><circle class='c' cx='48' cy='0' r='2.5'/><line class='l' x1='60' y1='12' x2='72' y2='24'/><circle class='c' cx='60' cy='12' r='2.5'/><circle class='c' cx='72' cy='24' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -14.5 77 41'><line class='a' x1='0' y1='24' x2='72' y2='24'/><line class='l' x1='0' y1='24' x2='12' y2='12'/><circle class='c' cx='0' cy='24' r='2.5'/><line class='l' x1='12' y1='12' x2='24' y2='0'/><circle class='c' cx='12' cy='12' r='2.5'/><line class='l' x1='24' y1='0' x2='36' y2='12'/><circle class='c' cx='24' cy='0' r='2.5'/><line class='l' x1='36' y1='12' x2='48' y2='0'/><circle class='c' cx='36' cy='12' r='2.5'/><line class='l' x1='48' y1='0' x2='60' y2='12'/><circle class='c' cx='48' cy='0' r='2.5'/><line class='l' x1='60' y1='12' x2='72' y2='24'/><circle class='c' cx='60' cy='12' r='2.5'/><circle class='c' cx='72' cy='24' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -2.5 77 41'><line class='a' x1='0' y1='36' x2='72' y2='36'/><line class='l' x1='0' y1='36' x2='12' y2='24'/><circle class='c' cx='0' cy='36' r='2.5'/><line class='l' x1='12' y1='24' x2='24' y2='12'/><circle class='c' cx='12' cy='24' r='2.5'/><line class='l' x1='24' y1='12' x2='36' y2='0'/><circle class='c' cx='24' cy='12' r='2.5'/><line class='l' x1='36' y1='0' x2='48' y2='12'/><circle class='c' cx='36' cy='0' r='2.5'/><line class='l' x1='48' y1='12' x2='60' y2='24'/><circle class='c' cx='48' cy='12' r='2.5'/><line class='l' x1='60' y1='24' x2='72' y2='36'/><circle class='c' cx='60' cy='24' r='2.5'/><circle class='c' cx='72' cy='36' r='2.5'/></svg></td>
</tr>
<tr>
<td>1</td>
<td><svg width='77' height='41' viewBox='-2.5 -8.5 77 29'><line class='a' x1='0' y1='12' x2='72' y2='12'/><line class='f' x1='0' y1='12' x2='12' y2='24'/><circle class='c' cx='0' cy='12' r='2.5'/><line class='l' x1='12' y1='24' x2='24' y2='12'/><circle class='c' cx='12' cy='24' r='2.5'/><line class='l' x1='24' y1='12' x2='36' y2='0'/><circle class='c' cx='24' cy='12' r='2.5'/><line class='l' x1='36' y1='0' x2='48' y2='12'/><circle class='c' cx='36' cy='0' r='2.5'/><line class='l' x1='48' y1='12' x2='60' y2='0'/><circle class='c' cx='48' cy='12' r='2.5'/><line class='l' x1='60' y1='0' x2='72' y2='12'/><circle class='c' cx='60' cy='0' r='2.5'/><circle class='c' cx='72' cy='12' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -8.5 77 29'><line class='a' x1='0' y1='12' x2='72' y2='12'/><line class='l' x1='0' y1='12' x2='12' y2='0'/><circle class='c' cx='0' cy='12' r='2.5'/><line class='l' x1='12' y1='0' x2='24' y2='12'/><circle class='c' cx='12' cy='0' r='2.5'/><line class='f' x1='24' y1='12' x2='36' y2='24'/><circle class='c' cx='24' cy='12' r='2.5'/><line class='l' x1='36' y1='24' x2='48' y2='12'/><circle class='c' cx='36' cy='24' r='2.5'/><line class='l' x1='48' y1='12' x2='60' y2='0'/><circle class='c' cx='48' cy='12' r='2.5'/><line class='l' x1='60' y1='0' x2='72' y2='12'/><circle class='c' cx='60' cy='0' r='2.5'/><circle class='c' cx='72' cy='12' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -2.5 77 41'><line class='a' x1='0' y1='24' x2='72' y2='24'/><line class='f' x1='0' y1='24' x2='12' y2='36'/><circle class='c' cx='0' cy='24' r='2.5'/><line class='l' x1='12' y1='36' x2='24' y2='24'/><circle class='c' cx='12' cy='36' r='2.5'/><line class='l' x1='24' y1='24' x2='36' y2='12'/><circle class='c' cx='24' cy='24' r='2.5'/><line class='l' x1='36' y1='12' x2='48' y2='0'/><circle class='c' cx='36' cy='12' r='2.5'/><line class='l' x1='48' y1='0' x2='60' y2='12'/><circle class='c' cx='48' cy='0' r='2.5'/><line class='l' x1='60' y1='12' x2='72' y2='24'/><circle class='c' cx='60' cy='12' r='2.5'/><circle class='c' cx='72' cy='24' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -2.5 77 41'><line class='a' x1='0' y1='24' x2='72' y2='24'/><line class='l' x1='0' y1='24' x2='12' y2='12'/><circle class='c' cx='0' cy='24' r='2.5'/><line class='l' x1='12' y1='12' x2='24' y2='0'/><circle class='c' cx='12' cy='12' r='2.5'/><line class='l' x1='24' y1='0' x2='36' y2='12'/><circle class='c' cx='24' cy='0' r='2.5'/><line class='l' x1='36' y1='12' x2='48' y2='24'/><circle class='c' cx='36' cy='12' r='2.5'/><line class='f' x1='48' y1='24' x2='60' y2='36'/><circle class='c' cx='48' cy='24' r='2.5'/><line class='l' x1='60' y1='36' x2='72' y2='24'/><circle class='c' cx='60' cy='36' r='2.5'/><circle class='c' cx='72' cy='24' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -8.5 77 29'><line class='a' x1='0' y1='12' x2='72' y2='12'/><line class='l' x1='0' y1='12' x2='12' y2='0'/><circle class='c' cx='0' cy='12' r='2.5'/><line class='l' x1='12' y1='0' x2='24' y2='12'/><circle class='c' cx='12' cy='0' r='2.5'/><line class='l' x1='24' y1='12' x2='36' y2='0'/><circle class='c' cx='24' cy='12' r='2.5'/><line class='l' x1='36' y1='0' x2='48' y2='12'/><circle class='c' cx='36' cy='0' r='2.5'/><line class='f' x1='48' y1='12' x2='60' y2='24'/><circle class='c' cx='48' cy='12' r='2.5'/><line class='l' x1='60' y1='24' x2='72' y2='12'/><circle class='c' cx='60' cy='24' r='2.5'/><circle class='c' cx='72' cy='12' r='2.5'/></svg></td>
</tr>
<tr>
<td>2</td>
<td><svg width='77' height='41' viewBox='-2.5 3.5 77 29'><line class='a' x1='0' y1='12' x2='72' y2='12'/><line class='f' x1='0' y1='12' x2='12' y2='24'/><circle class='c' cx='0' cy='12' r='2.5'/><line class='l' x1='12' y1='24' x2='24' y2='12'/><circle class='c' cx='12' cy='24' r='2.5'/><line class='f' x1='24' y1='12' x2='36' y2='24'/><circle class='c' cx='24' cy='12' r='2.5'/><line class='l' x1='36' y1='24' x2='48' y2='12'/><circle class='c' cx='36' cy='24' r='2.5'/><line class='l' x1='48' y1='12' x2='60' y2='0'/><circle class='c' cx='48' cy='12' r='2.5'/><line class='l' x1='60' y1='0' x2='72' y2='12'/><circle class='c' cx='60' cy='0' r='2.5'/><circle class='c' cx='72' cy='12' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -2.5 77 41'><line class='a' x1='0' y1='12' x2='72' y2='12'/><line class='f' x1='0' y1='12' x2='12' y2='24'/><circle class='c' cx='0' cy='12' r='2.5'/><line class='f' x1='12' y1='24' x2='24' y2='36'/><circle class='c' cx='12' cy='24' r='2.5'/><line class='l' x1='24' y1='36' x2='36' y2='24'/><circle class='c' cx='24' cy='36' r='2.5'/><line class='l' x1='36' y1='24' x2='48' y2='12'/><circle class='c' cx='36' cy='24' r='2.5'/><line class='l' x1='48' y1='12' x2='60' y2='0'/><circle class='c' cx='48' cy='12' r='2.5'/><line class='l' x1='60' y1='0' x2='72' y2='12'/><circle class='c' cx='60' cy='0' r='2.5'/><circle class='c' cx='72' cy='12' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 3.5 77 29'><line class='a' x1='0' y1='12' x2='72' y2='12'/><line class='f' x1='0' y1='12' x2='12' y2='24'/><circle class='c' cx='0' cy='12' r='2.5'/><line class='l' x1='12' y1='24' x2='24' y2='12'/><circle class='c' cx='12' cy='24' r='2.5'/><line class='l' x1='24' y1='12' x2='36' y2='0'/><circle class='c' cx='24' cy='12' r='2.5'/><line class='l' x1='36' y1='0' x2='48' y2='12'/><circle class='c' cx='36' cy='0' r='2.5'/><line class='f' x1='48' y1='12' x2='60' y2='24'/><circle class='c' cx='48' cy='12' r='2.5'/><line class='l' x1='60' y1='24' x2='72' y2='12'/><circle class='c' cx='60' cy='24' r='2.5'/><circle class='c' cx='72' cy='12' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -2.5 77 41'><line class='a' x1='0' y1='12' x2='72' y2='12'/><line class='l' x1='0' y1='12' x2='12' y2='0'/><circle class='c' cx='0' cy='12' r='2.5'/><line class='l' x1='12' y1='0' x2='24' y2='12'/><circle class='c' cx='12' cy='0' r='2.5'/><line class='f' x1='24' y1='12' x2='36' y2='24'/><circle class='c' cx='24' cy='12' r='2.5'/><line class='f' x1='36' y1='24' x2='48' y2='36'/><circle class='c' cx='36' cy='24' r='2.5'/><line class='l' x1='48' y1='36' x2='60' y2='24'/><circle class='c' cx='48' cy='36' r='2.5'/><line class='l' x1='60' y1='24' x2='72' y2='12'/><circle class='c' cx='60' cy='24' r='2.5'/><circle class='c' cx='72' cy='12' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 3.5 77 29'><line class='a' x1='0' y1='12' x2='72' y2='12'/><line class='l' x1='0' y1='12' x2='12' y2='0'/><circle class='c' cx='0' cy='12' r='2.5'/><line class='l' x1='12' y1='0' x2='24' y2='12'/><circle class='c' cx='12' cy='0' r='2.5'/><line class='f' x1='24' y1='12' x2='36' y2='24'/><circle class='c' cx='24' cy='12' r='2.5'/><line class='l' x1='36' y1='24' x2='48' y2='12'/><circle class='c' cx='36' cy='24' r='2.5'/><line class='f' x1='48' y1='12' x2='60' y2='24'/><circle class='c' cx='48' cy='12' r='2.5'/><line class='l' x1='60' y1='24' x2='72' y2='12'/><circle class='c' cx='60' cy='24' r='2.5'/><circle class='c' cx='72' cy='12' r='2.5'/></svg></td>
</tr>
<tr>
<td>3</td>
<td><svg width='77' height='41' viewBox='-2.5 9.5 77 17'><line class='a' x1='0' y1='0' x2='72' y2='0'/><line class='f' x1='0' y1='0' x2='12' y2='12'/><circle class='c' cx='0' cy='0' r='2.5'/><line class='l' x1='12' y1='12' x2='24' y2='0'/><circle class='c' cx='12' cy='12' r='2.5'/><line class='f' x1='24' y1='0' x2='36' y2='12'/><circle class='c' cx='24' cy='0' r='2.5'/><line class='l' x1='36' y1='12' x2='48' y2='0'/><circle class='c' cx='36' cy='12' r='2.5'/><line class='f' x1='48' y1='0' x2='60' y2='12'/><circle class='c' cx='48' cy='0' r='2.5'/><line class='l' x1='60' y1='12' x2='72' y2='0'/><circle class='c' cx='60' cy='12' r='2.5'/><circle class='c' cx='72' cy='0' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 3.5 77 29'><line class='a' x1='0' y1='0' x2='72' y2='0'/><line class='f' x1='0' y1='0' x2='12' y2='12'/><circle class='c' cx='0' cy='0' r='2.5'/><line class='f' x1='12' y1='12' x2='24' y2='24'/><circle class='c' cx='12' cy='12' r='2.5'/><line class='l' x1='24' y1='24' x2='36' y2='12'/><circle class='c' cx='24' cy='24' r='2.5'/><line class='l' x1='36' y1='12' x2='48' y2='0'/><circle class='c' cx='36' cy='12' r='2.5'/><line class='f' x1='48' y1='0' x2='60' y2='12'/><circle class='c' cx='48' cy='0' r='2.5'/><line class='l' x1='60' y1='12' x2='72' y2='0'/><circle class='c' cx='60' cy='12' r='2.5'/><circle class='c' cx='72' cy='0' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 3.5 77 29'><line class='a' x1='0' y1='0' x2='72' y2='0'/><line class='f' x1='0' y1='0' x2='12' y2='12'/><circle class='c' cx='0' cy='0' r='2.5'/><line class='l' x1='12' y1='12' x2='24' y2='0'/><circle class='c' cx='12' cy='12' r='2.5'/><line class='f' x1='24' y1='0' x2='36' y2='12'/><circle class='c' cx='24' cy='0' r='2.5'/><line class='f' x1='36' y1='12' x2='48' y2='24'/><circle class='c' cx='36' cy='12' r='2.5'/><line class='l' x1='48' y1='24' x2='60' y2='12'/><circle class='c' cx='48' cy='24' r='2.5'/><line class='l' x1='60' y1='12' x2='72' y2='0'/><circle class='c' cx='60' cy='12' r='2.5'/><circle class='c' cx='72' cy='0' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 3.5 77 29'><line class='a' x1='0' y1='0' x2='72' y2='0'/><line class='f' x1='0' y1='0' x2='12' y2='12'/><circle class='c' cx='0' cy='0' r='2.5'/><line class='f' x1='12' y1='12' x2='24' y2='24'/><circle class='c' cx='12' cy='12' r='2.5'/><line class='l' x1='24' y1='24' x2='36' y2='12'/><circle class='c' cx='24' cy='24' r='2.5'/><line class='f' x1='36' y1='12' x2='48' y2='24'/><circle class='c' cx='36' cy='12' r='2.5'/><line class='l' x1='48' y1='24' x2='60' y2='12'/><circle class='c' cx='48' cy='24' r='2.5'/><line class='l' x1='60' y1='12' x2='72' y2='0'/><circle class='c' cx='60' cy='12' r='2.5'/><circle class='c' cx='72' cy='0' r='2.5'/></svg></td>
<td><svg width='77' height='41' viewBox='-2.5 -2.5 77 41'><line class='a' x1='0' y1='0' x2='72' y2='0'/><line class='f' x1='0' y1='0' x2='12' y2='12'/><circle class='c' cx='0' cy='0' r='2.5'/><line class='f' x1='12' y1='12' x2='24' y2='24'/><circle class='c' cx='12' cy='12' r='2.5'/><line class='f' x1='24' y1='24' x2='36' y2='36'/><circle class='c' cx='24' cy='24' r='2.5'/><line class='l' x1='36' y1='36' x2='48' y2='24'/><circle class='c' cx='36' cy='36' r='2.5'/><line class='l' x1='48' y1='24' x2='60' y2='12'/><circle class='c' cx='48' cy='24' r='2.5'/><line class='l' x1='60' y1='12' x2='72' y2='0'/><circle class='c' cx='60' cy='12' r='2.5'/><circle class='c' cx='72' cy='0' r='2.5'/></svg></td>
</tr>
</table>

<p>
The algorithm running on this website implements the bijection described above, and it outputs the lattice paths in the table column by column.
In the graphical output, flaws are highlighted in red, and in the textual output, the number of flaws is printed first.