The number of lattice paths of length $2k$ with exactly $k$ many upsteps and downsteps is given by the central binomial coefficient $\binom{2k}{k}$, which is <a href="http://oeis.org/A000984">OEIS A000984</a>.
Dyck paths are enumerated by the Catalan numbers $C_k=\frac{1}{k+1}\binom{2k}{k}$, which is <a href="http://oeis.org/A000108">OEIS A000108</a>.