<table id="input">
<tr>
<td>Parameter $k$ (length is $2k$)</td>
<td><input type="text" id="k" value="3" size="2" maxlength="2"/></td>
</tr>
<tr>
<td>Initial bitstring</td>
<td><input type="text" id="x" size="10" maxlength="20"/></td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (k&le;<?php echo limit_dyck(0); ?>)</option>
  <option value="1">text (k&le;<?php echo limit_dyck(1); ?>)</option>
  <option value="2">file (k&le;<?php echo limit_dyck(2); ?>)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var selfmt = document.getElementById("fmt");
  var url = "web/dyck/run.php?k=" + document.getElementById("k").value
            + "&x=" + (document.getElementById("x")).value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
