<h1>$k$-ary Lyndon words with given trace mod $k$</h1>

A $k$-ary Lyndon word is a string made from the characters $\{0,1,\ldots,k-1\}$, i.e., the integers mod $k$.
It must be aperiodic (not equal to any of its non-trivial rotations) and be lexicographically least among its rotations.

Here we consider the number $L_k(n;t)$ of length $n$ Lyndon words $a_1 a_2 \ldots a_n$ over the alphabet $\{0,1,\ldots,k-1\}$, i.e., $\mathbb{Z}_k$, that have trace $t$.
The <span class="def">trace</span> of a $k$-ary Lyndon word is the sum of its digits mod $k$, i.e., $t = a_1 + a_2 + \cdots + a_n \pmod{k}$.

<p>
<table class="data">
<tr>
<td>
<td align="center" colspan="12">(trace)</td> 
<tr>
<td>
<td colspan="2" align="center" style="border-right: 2px solid black;">binary 
<td colspan="2" align="center" style="border-right: 2px solid black;">ternary 
<td colspan="2" align="center" style="border-right: 2px solid black;">4-ary 
<td colspan="2" align="center" style="border-right: 2px solid black;">5-ary 
<td colspan="4" align="center">6-ary
<tr>
<td align="center">$n$
<td class="special" align="center">0<td class="special" align="center">1
<td class="special" align="center">0<td class="special" align="center">1,2
<td class="special" align="center">0,2<td class="special" align="center">1,3
<td class="special" align="center">0<td class="special" align="center">1,2,3,4
<td class="special" align="center">0<td class="special" align="center">1,5
<td class="special" align="center">2,4<td class="special" align="center">3
<tr>
<td class="special" align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<tr>
<td class="special" align="right">2</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">2</td>
<td align="right">2</td>
<td align="right">2</td>
<td align="right">2</td>
<td align="right">3</td>
<td align="right">2</td>
<td align="right">3</td>
<tr>
<td class="special" align="right">3</td>
<td align="right">1</td>
<td align="right">1</td>
<td align="right">2</td>
<td align="right">3</td>
<td align="right">5</td>
<td align="right">5</td>
<td align="right">8</td>
<td align="right">8</td>
<td align="right">11</td>
<td align="right">12</td>
<td align="right">12</td>
<td align="right">11</td>
<tr>
<td class="special" align="right">4</td>
<td align="right">1</td>
<td align="right">2</td>
<td align="right">6</td>
<td align="right">6</td>
<td align="right">14</td>
<td align="right">16</td>
<td align="right">30</td>
<td align="right">30</td>
<td align="right">51</td>
<td align="right">54</td>
<td align="right">51</td>
<td align="right">54</td>
<tr>
<td class="special" align="right">5</td>
<td align="right">3</td>
<td align="right">3</td>
<td align="right">16</td>
<td align="right">16</td>
<td align="right">51</td>
<td align="right">51</td>
<td align="right">124</td>
<td align="right">125</td>
<td align="right">259</td>
<td align="right">259</td>
<td align="right">259</td>
<td align="right">259</td>
<tr>
<td class="special" align="right">6</td>
<td align="right">4</td>
<td align="right">5</td>
<td align="right">38</td>
<td align="right">39</td>
<td align="right">165</td>
<td align="right">170</td>
<td align="right">516</td>
<td align="right">516</td>
<td align="right">1282</td>
<td align="right">1296</td>
<td align="right">1284</td>
<td align="right">1293</td>
<tr>
<td class="special" align="right">7</td>
<td align="right">9</td>
<td align="right">9</td>
<td align="right">104</td>
<td align="right">104</td>
<td align="right">585</td>
<td align="right">585</td>
<td align="right">2232</td>
<td align="right">2232</td>
<td align="right">6665</td>
<td align="right">6665</td>
<td align="right">6665</td>
<td align="right">6665</td>
<tr>
<td class="special" align="right">8</td>
<td align="right">14</td>
<td align="right">16</td>
<td align="right">270</td>
<td align="right">270</td>
<td align="right">2032</td>
<td align="right">2048</td>
<td align="right">9750</td>
<td align="right">9750</td>
<td align="right">34938</td>
<td align="right">34992</td>
<td align="right">34938</td>
<td align="right">34992</td>
<tr>
<td class="special" align="right">9</td>
<td align="right">28</td>
<td align="right">28</td>
<td align="right">726</td>
<td align="right">729</td>
<td align="right">7280</td>
<td align="right">7280</td>
<td align="right">43400</td>
<td align="right">43400</td>
<td align="right">186612</td>
<td align="right">186624</td>
<td align="right">186624</td>
<td align="right">186612</td>
<tr>
<td class="special" align="right">10</td>
<td align="right">48</td>
<td align="right">51</td>
<td align="right">1960</td>
<td align="right">1960</td>
<td align="right">26163</td>
<td align="right">26214</td>
<td align="right">195248</td>
<td align="right">195250</td>
<td align="right">1007510</td>
<td align="right">1007769</td>
<td align="right">1007510</td>
<td align="right">1007769</td>
<tr>
<td class="special" align="right">11</td>
<td align="right">93</td>
<td align="right">93</td>
<td align="right">5368</td>
<td align="right">5368</td>
<td align="right">95325</td>
<td align="right">95325</td>
<td align="right">887784</td>
<td align="right">887784</td>
<td align="right">5496925</td>
<td align="right">5496925</td>
<td align="right">5496925</td>
<td align="right">5496925</td>
<tr>
<td class="special" align="right">12</td>
<td align="right">165</td>
<td align="right">170</td>
<td align="right">14736</td>
<td align="right">14742</td>
<td align="right">349350</td>
<td align="right">349520</td>
<td align="right">4068740</td>
<td align="right">4068740</td>
<td align="right">30231741</td>
<td align="right">30233088</td>
<td align="right">30231792</td>
<td align="right">30233034</td>
<tr>
<td class="special" align="right">13</td>
<td align="right">315</td>
<td align="right">315</td>
<td align="right">40880</td>
<td align="right">40880</td>
<td align="right">1290555</td>
<td align="right">1290555</td>
<td align="right">18780048</td>
<td align="right">18780048</td>
<td align="right">167444795</td>
<td align="right">167444795</td>
<td align="right">167444795</td>
<td align="right">167444795</td>
<tr>
<td class="special" align="right">14</td>
<td align="right">576</td>
<td align="right">585</td>
<td align="right">113828</td>
<td align="right">113828</td>
<td align="right">4792905</td>
<td align="right">4793490</td>
<td align="right">87191964</td>
<td align="right">87191964</td>
<td align="right">932900050</td>
<td align="right">932906715</td>
<td align="right">932900050</td>
<td align="right">932906715</td>
<tr>
<td class="special" align="right">15</td>
<td align="right">1091</td>
<td align="right">1091</td>
<td align="right">318848</td>
<td align="right">318864</td>
<td align="right">17895679</td>
<td align="right">17895679</td>
<td align="right">406900992</td>
<td align="right">406901000</td>
<td align="right">5224277345</td>
<td align="right">5224277604</td>
<td align="right">5224277604</td>
<td align="right">5224277345</td>
<tr>
<td class="special" align="right">16</td>
<td align="right">2032</td>
<td align="right">2048</td>
<td align="right">896670</td>
<td align="right">896670</td>
<td align="right">67106816</td>
<td align="right">67108864</td>
<td align="right">1907343750</td>           
<td align="right">1907343750</td> 
<td align="right">29386526544</td>
<td align="right">29386561536</td>
<td align="right">29386526544</td>
<td align="right">29386561536</td>
</table>

<h2>Examples</h2>

The three 6-ary Lyndon words of trace 3 and length 2 are $\{03, 12, 45\}$.
The two ternary Lyndon words of trace 0 and length 3 are $\{021, 012\}$.
The five 4-ary Lyndon words of trace 2 and length 3 are $\{002, 011, 033, 123, 132\}$.

<h2>Enumeration (OEIS)</h2>

<ul>
<li>
The number of Lyndon words with trace 1 is equal to the number of <a href="Tpoly">irreducible polynomials over $GF(k)$ with non-zero trace</a>.

<li>
The number $L_k(n;t)$ of $k$-ary Lyndon words of trace $t$ and length $n$ is
\[
L_k(n;t) = \frac{1}{kn} \sum_{\substack{d\vert n \\ \gcd(d,k)\vert t}} \gcd(d,k) \mu(d) k^{n/d}.
\]

<li>
The number of $k$-ary Lyndon words with given trace is the same whenever the $\gcd$ of the traces with $k$ is the same.
Further, if $k$ is the power of a prime $p$, then the number is the same for trace $0, p, p^2 ,\ldots$.

<li>
The binary trace 0 column is <a href="http://oeis.org/A051841">OEIS A051841</a>.
<li>
The binary trace 1 column is <a href="http://oeis.org/A000048">OEIS A000048</a>.
<li>
The ternary trace=0 column is <a href="http://oeis.org/A046209">OEIS A046209</a>.
<li>
The ternary trace=1,2 column is <a href="http://oeis.org/A046211">OEIS A046211</a>.
<li>
The 4-ary trace=0,2 column is <a href="http://oeis.org/A054664">OEIS A054664</a>.
<li>
The 4-ary trace=1,3 column is <a href="http://oeis.org/A054660">OEIS A054660</a>.
<li>
The 5-ary trace=0 column is <a href="http://oeis.org/A054663">OEIS A054663</a>.
<li>
The 5-ary trace=1,2,3,4 column is <a href="http://oeis.org/A054662">OEIS A054662</a>.
<li>
The 6-ary trace=0 column is <a href="http://oeis.org/A054665">OEIS A054665</a>.
<li>
The 6-ary trace=1,5 column is <a href="http://oeis.org/A054666">OEIS A054666</a>.
<li>
The 6-ary trace=2,4 column is <a href="http://oeis.org/A054667">OEIS A054667</a>.
<li>
The 6-ary trace=3 column is <a href="http://oeis.org/A054700">OEIS A054700</a>.
</ul>