<h1>Monic irreducible polynomials over $GF(k)$ with given trace</h1>

The <span class="def">trace</span> of a degree $n$ polynomial in $x$ is the coefficient of $x^{n-1}$.
A polynomial is <span class="def">irreducible</span> if it cannot be factored.
A polynomial is <span class="def">monic</span> if the leading coefficient is 1.
Below we use $a=\operatorname{root}(x^2+x+1)$ and $b=1+a$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="8">(trace)</td> 
<tr>
<td> 
<td colspan="2" align="center" style="border-right: 2px solid black;">$GF(2)$
<td colspan="2" align="center" style="border-right: 2px solid black;">$GF(3)$
<td colspan="2" align="center" style="border-right: 2px solid black;">$GF(4)$
<td colspan="2" align="center">$GF(5)$
<tr>
<td align="center">$n$
<td class="special" align="center">1<td class="special" align="center">0
<td class="special" align="center">1,2<td class="special" align="center">0
<td class="special" align="center">1,$a$,$b$<td class="special" align="center">0
<td class="special" align="center">1,2,3,4<td class="special" align="center">0
<tr>
<td class="special" align="center">1 
<td align="right">1 
<td align="right">1 
<td align="right">1 
<td align="right">1 
<td align="right">1 
<td align="right">1
<td align="right">1
<td align="right">1
<tr>
<td class="special" align="center">2
<td align="right">1
<td align="right">0
<td align="right">1
<td align="right">1
<td align="right">2
<td align="right">0
<td align="right">2
<td align="right">2
<tr>
<td class="special" align="center">3
<td align="right">1
<td align="right">1
<td align="right">3
<td align="right">2
<td align="right">5
<td align="right">5
<td align="right">8
<td align="right">8
<tr>
<td class="special" align="center">4
<td align="right">2
<td align="right">1
<td align="right">6
<td align="right">6
<td align="right">16
<td align="right">12
<td align="right">30
<td align="right">30
<tr>
<td class="special" align="center">5
<td align="right">3
<td align="right">3
<td align="right">16
<td align="right">16
<td align="right">51
<td align="right">51
<td align="right">125
<td align="right">124
<tr>
<td class="special" align="center">6
<td align="right">5
<td align="right">4
<td align="right">39
<td align="right">38
<td align="right">170
<td align="right">160
<td align="right">516
<td align="right">516
<tr>
<td class="special" align="center">7
<td align="right">9
<td align="right">9
<td align="right">104
<td align="right">104
<td align="right">585
<td align="right">585
<td align="right">2232
<td align="right">2232
<tr>
<td class="special" align="center">8
<td align="right">16
<td align="right">14
<td align="right">270
<td align="right">270
<td align="right">2048
<td align="right">2016
<td align="right">9750
<td align="right">9750
<tr>
<td class="special" align="center">9
<td align="right">28
<td align="right">28
<td align="right">729
<td align="right">726
<td align="right">7280
<td align="right">7280
<td align="right">43400
<td align="right">43400
<tr>
<td class="special" align="center">10
<td align="right">51
<td align="right">48
<td align="right">1960
<td align="right">1960
<td align="right">26214
<td align="right">26112
<td align="right">195250
<td align="right">195248
<tr>
<td class="special" align="center">11
<td align="right">93
<td align="right">93
<td align="right">5368
<td align="right">5368
<td align="right">95325
<td align="right">95325
<td align="right">887784
<td align="right">887784
<tr>
<td class="special" align="center">12
<td align="right">170
<td align="right">165
<td align="right">14742
<td align="right">14736
<td align="right">349520
<td align="right">349180
<td align="right">4068740
<td align="right">4068740
<tr>
<td class="special" align="center">13
<td align="right">315
<td align="right">315
<td align="right">40880
<td align="right">40880
<td align="right">1290555
<td align="right">1290555
<td align="right">18780048
<td align="right">18780048
<tr>
<td class="special" align="center">14
<td align="right">585
<td align="right">576
<td align="right">113828
<td align="right">113828
<td align="right">4793490
<td align="right">4792320
<td align="right">87191964
<td align="right">87191964
<tr>
<td class="special" align="center">15
<td align="right">1091
<td align="right">1091
<td align="right">318864
<td align="right">318848
<td align="right">17895679
<td align="right">17895679
<td align="right">406901000
<td align="right">406900992
<tr>
<td class="special" align="center">16
<td align="right">2048
<td align="right">2032
<td align="right">896670
<td align="right">896670
<td align="right">67108864
<td align="right">67104768
<td align="right">1907343750
<td align="right">1907343750
</table>


<h2>Examples</h2>
The two monic irreducible polynomials over GF(4) with trace $a$, where $a$ is a root of $x^2+x+1$, are $x^2+ax+1$ and $x^2+ax+a$.

<h2>Enumeration (OEIS)</h2>

<ul>
<li>
The number of degree $n$ trace 1 irreducible polynomials over $GF(k)$ is equal to the number of <a href="TlyndonZq">$k$-ary Lyndon words of length $n$ whose characters sum to 1 mod $k$</a>.

<li>
The number $I_k(n;1)$ of trace 1 monic irreducible polynomials over $GF(k)$ is
\[
I_k(n;1)=\frac{1}{kn}\sum_{d\vert n} [\gcd(d,k)=1] \mu(d) k^{n/d}.
\]
Here $[P]$ is $1$ if $P$ is true, and is $0$ if $P$ is false.
If $k$ is a power of prime $p$, then the condition $[\gcd(d,k)=1]$ is equivalent to $[p\text{ does not divide }d]$.
The number of irreducible polynomials with given trace were first counted by Carlitz [Car52].
The expression given above is from Ruskey, Miers, and Sawada [RMS01].

<li>
The number of polynomials of degree $n$ over $GF(k)$ with a given trace is the same for any non-zero value of the trace.
If $k$ is a power of the prime $p$, then the number with zero trace is equal to the number with any given non-zero trace if $p$ is not a divisor of $n$ (or $n=1$).

<li>
The $GF(2)$ trace 1 column is <a href="http://oeis.org/A000048">OEIS A000048</a>.
<li>
The $GF(2)$ trace 0 column is <a href="http://oeis.org/A051841">OEIS A051841</a>.
<li>
The $GF(3)$ trace 0 column is <a href="http://oeis.org/A046209">OEIS A046209</a>.
<li>
The $GF(3)$ trace 1,2 column is <a href="http://oeis.org/A046211">OEIS A046211</a>.
<li>
The $GF(4)$ trace 0 column is <a href="http://oeis.org/A054661">OEIS A054661</a>.
<li>
The $GF(4)$ trace 1,$a$,$b$ column is <a href="http://oeis.org/A054660">OEIS A054660</a>.
<li>
The $GF(5)$ trace 0 column is <a href="http://oeis.org/A054663">OEIS A054663</a>.
<li>
The $GF(5)$ trace 1,2,3,4 column is <a href="http://oeis.org/A054662">OEIS A054662</a>.
</ul>

<h2>References</h2>
<ul id="refs">
<li>[Car52] L. Carlitz. A theorem of Dickson on irreducible polynomials. Proc. Amer. Math. Soc., 3:693–700, 1952.
</li>
<li>[RMS01] F. Ruskey, C. R. Miers, and J. Sawada. The number of irreducible polynomials and Lyndon words with given trace. SIAM J. Discrete Math., 14(2):240–245, 2001.
</li>
</ul>