<h1>Elements of $GF(2^n)$ with given trace and subtrace</h1>

If $a$ is an element of $GF(2^n)$, then the (absolute) <span class="def">trace</span> of $a$ is
\[
\operatorname{tr}(a)=a+a^2+a^4+\cdots+a^{2^{n-1}}.
\]
Alternatively, we could define $\operatorname{tr}(a)$ to be the negation of the coefficient of $x^{n-1}$ in the (characteristic) polynomial
\[
p(x) = (x - a) (x - a^2) (x - a^4) \cdots (x - a^{2^{n-1}}).
\]
The <span class="def">subtrace</span> of $a$ is the coefficient of $x^{n-2}$ in $p(x)$.
The coefficients of $p(x)$ are guaranteed to be elements of $GF(2)$, so the trace and subtrace are elements of $GF(2)$ (i.e., the value is 0 or 1).
 
<p>
<table class="data"><tr>
<td>
<td align="center" colspan="4">binomial coeffient sum</td>
<td>
<td align="center" colspan="4">(trace,subtrace)</td>
<tr>
<td align="center">n
<th class="special">0<th class="special">1</th>
<th class="special">2<th class="special">3</th>
<td>
<th class="special">(0,0)<th class="special">(0,1)</th>
<th class="special">(1,0)<th class="special">(1,1)</th>
<tr><th class="special" align="right">0</th>
<td align="right">1<td align="right">0<td align="right">0<td align="right">0<td>
<td align="right">0<td align="right">1<td align="right">0<td align="right">0
<tr><th class="special" align="right">1</th>
<td align="right">1<td align="right">1<td align="right">0<td align="right">0<td>
<td align="right">1<td align="right">0<td align="right">1<td align="right">0
<tr><th class="special" align="right">2</th>
<td align="right">1<td align="right">2<td align="right">1<td align="right">0<td>
<td align="right">1<td align="right">1<td align="right">0<td align="right">2
<tr><th class="special" align="right">3</th>
<td align="right">1<td align="right">3<td align="right">3<td align="right">1<td>
<td align="right">1<td align="right">3<td align="right">3<td align="right">1
<tr><th class="special" align="right">4</th>
<td align="right">2<td align="right">4<td align="right">6<td align="right">4<td>
<td align="right">6<td align="right">2<td align="right">4<td align="right">4
<tr><th class="special" align="right">5</th>
<td align="right">6<td align="right">6<td align="right">10<td align="right">10<td>
<td align="right">6<td align="right">10<td align="right">6<td align="right">10
<tr><th class="special" align="right">6</th>
<td align="right">16<td align="right">12<td align="right">16<td align="right">20<td>
<td align="right">16<td align="right">16<td align="right">20<td align="right">12
<tr><th class="special" align="right">7</th>
<td align="right">36<td align="right">28<td align="right">28<td align="right">36<td>
<td align="right">36<td align="right">28<td align="right">28<td align="right">36
<tr><th class="special" align="right">8</th>
<td align="right">72<td align="right">64<td align="right">56<td align="right">64<td>
<td align="right">56<td align="right">72<td align="right">64<td align="right">64
<tr><th class="special" align="right">9</th>
<td align="right">136<td align="right">136<td align="right">120<td align="right">120<td>
<td align="right">136<td align="right">120<td align="right">136<td align="right">120
<tr><th class="special" align="right">10</th>
<td align="right">256<td align="right">272<td align="right">256<td align="right">240<td>
<td align="right">256<td align="right">256<td align="right">240<td align="right">272
<tr><th class="special" align="right">11</th>
<td align="right">496<td align="right">528<td align="right">528<td align="right">496<td>
<td align="right">496<td align="right">528<td align="right">528<td align="right">496
<tr><th class="special" align="right">12</th>
<td align="right">992<td align="right">1024<td align="right">1056<td align="right">1024<td>
<td align="right">1056<td align="right">992<td align="right">1024<td align="right">1024
<tr><th class="special" align="right">13</th>
<td align="right">2016<td align="right">2016<td align="right">2080<td align="right">2080<td>
<td align="right">2016<td align="right">2080<td align="right">2016<td align="right">2080
<tr><th class="special" align="right">14</th>
<td align="right">4096<td align="right">4032<td align="right">4096<td align="right">4160<td>
<td align="right">4096<td align="right">4096<td align="right">4160<td align="right">4032
<tr><th class="special" align="right">15</th>
<td align="right">8256<td align="right">8128<td align="right">8128<td align="right">8256<td>
<td align="right">8256<td align="right">8128<td align="right">8128<td align="right">8256
<tr><th class="special" align="right">16</th>
<td align="right">16512<td align="right">16384<td align="right">16256<td align="right">16384<td>
<td align="right">16256<td align="right">16512<td align="right">16384<td align="right">16384
<tr><th class="special" align="right">17</th>
<td align="right">32896<td align="right">32896<td align="right">32640<td align="right">32640<td>
<td align="right">32896<td align="right">32640<td align="right">32896<td align="right">32640
<tr><th class="special" align="right">18</th>
<td align="right">65536<td align="right">65792<td align="right">65536<td align="right">65280<td>
<td align="right">65536<td align="right">65536<td align="right">65280<td align="right">65792
<tr><th class="special" align="right">19</th>
<td align="right">130816<td align="right">131328<td align="right">131328<td align="right">130816<td>
<td align="right">130816<td align="right">131328<td align="right">131328<td align="right">130816
<tr><th class="special" align="right">20</th>
<td align="right">261632<td align="right">262144<td align="right">262656<td align="right">262144<td>
<td align="right">262656<td align="right">261632<td align="right">262144<td align="right">262144
<tr><th class="special" align="right">21</th>
<td align="right">523776<td align="right">523776<td align="right">524800<td align="right">524800<td>
<td align="right">523776<td align="right">524800<td align="right">523776<td align="right">524800
<tr><th class="special" align="right">22</th>
<td align="right">1048576<td align="right">1047552<td align="right">1048576<td align="right">1049600<td>
<td align="right">1048576<td align="right">1048576<td align="right">1049600<td align="right">1047552
<tr><th class="special" align="right">23</th>
<td align="right">2098176<td align="right">2096128<td align="right">2096128<td align="right">2098176<td>
<td align="right">2098176<td align="right">2096128<td align="right">2096128<td align="right">2098176
<tr><th class="special" align="right">24</th>
<td align="right">4196352<td align="right">4194304<td align="right">4192256<td align="right">4194304<td>
<td align="right">4192256<td align="right">4196352<td align="right">4194304<td align="right">4194304
</table>

<h2>Examples</h2>

<ul>
<li>
Let $GF(2^2)$ be defined by the field extension $GF(2)[x]/(1+x+x^2)$.
The two elements of $GF(2^2)$ with trace 1 and subtrace 1 are $\{x, 1+x\}$.

<li>
Let $GF(2^3)$ be defined by the field extension $GF(2)[x]/(1+x^2+x^3)$.
The three elements of $GF(2^3)$ with trace 1 and subtrace 0 are $\{x, x^2, 1+x+x^2\}$.

<li>
Let $GF(2^4)$ be defined by the field extension $GF(2)[x]/(1+x+x^4)$.
The two elements of $GF(2^4)$ with trace 0 and subtrace 1 are $\{x+x^2,1+x+x^2\}$.
</ul>


<h2>Enumeration (OEIS)</h2>

<ul>
<li>
The column labelled 0 has entries $\binom{n}{0}+\binom{n}{4}+\binom{n}{8}+\cdots$, which is also equal to the (0,1) column when $n$ is even and the (0,0) column when $n$ is odd.
Column 0 is <a href="http://oeis.org/A038503">OEIS A038503</a>.

<li>
The column labelled 1 has entries $\binom{n}{1}+\binom{n}{5}+\binom{n}{9}\cdots$, which is also equal to the (1,1) column when $n$ is even and the (1,0) column when $n$ is odd.
Column 1 is <a href="http://oeis.org/A038504">OEIS A038504</a>.

<li>
The column labelled 2 has entries $\binom{n}{2}+\binom{n}{6}+\binom{n}{10}+\cdots$, which is also equal to the (0,0) column when $n$ is even and the (0,1) column when $n$ is odd.
Column 2 is <a href="http://oeis.org/A038505">OEIS A038505</a>.

<li>
The column labelled 3 has entries $\binom{n}{3}+\binom{n}{7}+\binom{n}{11}+\cdots$, which is also equal to the (1,0) column when $n$ is even and the (1,1) column when $n$ is odd.
Column 3 is <a href="http://oeis.org/A038506">OEIS A038506</a>.

<li>
Column (0,0) is <a href="http://oeis.org/A038518">OEIS A038518</a>.
<li>
Column (0,1) is <a href="http://oeis.org/A038519">OEIS A038519</a>.
<li>
Column (1,0) is <a href="http://oeis.org/A038520">OEIS A038520</a>.
<li>
Column (1,1) is <a href="http://oeis.org/A038521">OEIS A038521</a>.

<li>
For proofs of these facts, see [CMR+03].

<li>
The entries in the above table can be expressed as the sum of two powers of 2.
Let $m=\lfloor n/2\rfloor$.
Then the entry of the first four columns are $2^{n-2}+s2^{m-1}$, where $s$ is 0, +1, or -1, depending on the corresponding entry from the table below.

<table class="data"><tr>
<td><td colspan="4">&nbsp;coeff. sum&nbsp;</td>
<tr>
<td>$n$ mod 8</td>
<th class="special">0</th><th class="special">1</th> 
<th class="special">2</th><th class="special">3</th>
<tr>
<th align="center" class="special">0</th> 
<td align="center">+</td>
<td align="center">0</td>
<td align="center">-</td>
<td align="center">0</td>
<tr>
<th align="center" class="special" >1</th>
<td align="center">+</td>
<td align="center">+</td>
<td align="center">-</td>
<td align="center">-</td>
<tr>
<th align="center" class="special">2</th>
<td align="center">0</td>
<td align="center">+</td>
<td align="center">0</td>
<td align="center">-</td>
<tr>
<th align="center" class="special">3</th>
<td align="center">-</td>
<td align="center">+</td>
<td align="center">+</td>
<td align="center">-</td>
<tr>
<th align="center" class="special">4</th>
<td align="center">-</td>
<td align="center">0</td>
<td align="center">+</td>
<td align="center">0</td>
<tr>
<th align="center" class="special">5</th>
<td align="center">-</td>
<td align="center">-</td>
<td align="center">+</td>
<td align="center">+</td>
<tr>
<th align="center" class="special">6</th>
<td align="center">0</td>
<td align="center">-</td>
<td align="center">0</td>
<td align="center">+</td>
<tr>
<th align="center" class="special">7</th>
<td align="center">+</td>
<td align="center">-</td>
<td align="center">-</td>
<td align="center">+</td>
</table>
</ul>

<h2>References</h2>

<ul id="refs">
<li>
[CMR+03] K. Cattell, C. R. Miers, F. Ruskey, J. Sawada, and M. Serra. The number of irreducible polynomials over GF(2) with given trace and subtrace. J. Combin. Math. Combin. Comput., 47:31–64, 2003.
</li>
</ul>