<h1>6-ary Lyndon words with given trace and subtrace</h1>

A $k$-ary <span class="def">Lyndon word</span> is a string made from the characters $\{0,1,\ldots,k-1\}$.
It must be aperiodic (not equal to any of its non-trivial rotations) and be lexicographically least among its rotations.

Here we consider the number $L(n;t,s)$ of length $n$ Lyndon words $a_1 a_2 \ldots a_n$ over the alphabet $\{0,1,\ldots,k-1\}$ with $k=6$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a Lyndon word is the sum of its digits mod $k$, i.e., $t = a_1 + a_2 + \cdots + a_n \pmod{k}$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken mod $k$, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="200">(trace,subtrace)</td>
<tr>
<td align="center">n
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)
<td class="special" align="center">(0,2)
<td class="special" align="center">(0,3)
<td class="special" align="center">(0,4)
<td class="special" align="center">(0,5)
<td class="special" align="center">(1,0)<br>(5,0)
<td class="special" align="center">(1,1)<br>(5,1)
<td class="special" align="center">(1,2)<br>(5,2)
<td class="special" align="center">(1,3)<br>(5,3)
<td class="special" align="center">(1,4)<br>(5,4)
<td class="special" align="center">(1,5)<br>(5,5)
<td class="special" align="center">(2,0)<br>(4,0)
<td class="special" align="center">(2,1)<br>(4,1)
<td class="special" align="center">(2,2)<br>(4,2)
<td class="special" align="center">(2,3)<br>(4,3)
<td class="special" align="center">(2,4)<br>(4,4)
<td class="special" align="center">(2,5)<br>(4,5)
<td class="special" align="center">(3,0)
<td class="special" align="center">(3,1)
<td class="special" align="center">(3,2)
<td class="special" align="center">(3,3)
<td class="special" align="center">(3,4)
<td class="special" align="center">(3,5)

<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">0
<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<td align="right">0<td align="right">0<td align="right">0

<tr><th align="center" class="special">2</th>
<td align="right">0<td align="right">0<td align="right">1
<td align="right">0<td align="right">0<td align="right">1
<td align="right">2<td align="right">0<td align="right">0
<td align="right">0<td align="right">1<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">2
<td align="right">0<td align="right">0<td align="right">0

<tr><th align="center" class="special">3</th>
<td align="right">0<td align="right">0<td align="right">2
<td align="right">3<td align="right">0<td align="right">6
<td align="right">3<td align="right">1<td align="right">3
<td align="right">1<td align="right">3<td align="right">1
<td align="right">1<td align="right">3<td align="right">1
<td align="right">3<td align="right">1<td align="right">3
<td align="right">3<td align="right">0<td align="right">6
<td align="right">0<td align="right">0<td align="right">2

<tr><th align="center" class="special">4</th>
<td align="right">4<td align="right">8<td align="right">6
<td align="right">13<td align="right">2<td align="right">18
<td align="right">9<td align="right">6<td align="right">12
<td align="right">9<td align="right">6<td align="right">12
<td align="right">4<td align="right">8<td align="right">6
<td align="right">13<td align="right">2<td align="right">18
<td align="right">9<td align="right">6<td align="right">12
<td align="right">9<td align="right">6<td align="right">12

<tr><th align="center" class="special">5</th>
<td align="right">25<td align="right">60<td align="right">36
<td align="right">42<td align="right">36<td align="right">60
<td align="right">36<td align="right">42<td align="right">36
<td align="right">60<td align="right">25<td align="right">60
<td align="right">36<td align="right">42<td align="right">36
<td align="right">60<td align="right">25<td align="right">60
<td align="right">25<td align="right">60<td align="right">36
<td align="right">42<td align="right">36<td align="right">60

<tr><th align="center" class="special">6</th>
<td align="right">165<td align="right">236<td align="right">240
<td align="right">165<td align="right">236<td align="right">240
<td align="right">162<td align="right">270<td align="right">162
<td align="right">270<td align="right">162<td align="right">270
<td align="right">214<td align="right">214<td align="right">214
<td align="right">214<td align="right">214<td align="right">214
<td align="right">126<td align="right">300<td align="right">180
<td align="right">207<td align="right">180<td align="right">300

<tr><th align="center" class="special">7</th>
<td align="right">1157<td align="right">1008<td align="right">1296
<td align="right">900<td align="right">1296<td align="right">1008
<td align="right">900<td align="right">1296<td align="right">1008
<td align="right">1157<td align="right">1008<td align="right">1296
<td align="right">1157<td align="right">1008<td align="right">1296
<td align="right">900<td align="right">1296<td align="right">1008
<td align="right">900<td align="right">1296<td align="right">1008
<td align="right">1157<td align="right">1008<td align="right">1296

<tr><th align="center" class="special">8</th>
<td align="right">6552<td align="right">5280<td align="right">6312
<td align="right">5094<td align="right">6792<td align="right">4908
<td align="right">5616<td align="right">5832<td align="right">6048
<td align="right">5616<td align="right">5832<td align="right">6048
<td align="right">6312<td align="right">5094<td align="right">6792
<td align="right">4908<td align="right">6552<td align="right">5280
<td align="right">5832<td align="right">6048<td align="right">5616
<td align="right">5832<td align="right">6048<td align="right">5616

<tr><th align="center" class="special">9</th>
<td align="right">33045<td align="right">30240<td align="right">31824
<td align="right">29151<td align="right">34272<td align="right">28080
<td align="right">33048<td align="right">29160<td align="right">33048
<td align="right">29160<td align="right">33048<td align="right">29160
<td align="right">33048<td align="right">29160<td align="right">33048
<td align="right">29160<td align="right">33048<td align="right">29160
<td align="right">33045<td align="right">30240<td align="right">31824
<td align="right">29151<td align="right">34272<td align="right">28080

<tr><th align="center" class="special">10</th>
<td align="right">167928<td align="right">169987<td align="right">165840
<td align="right">167928<td align="right">169987<td align="right">165840
<td align="right">178459<td align="right">159408<td align="right">176256
<td align="right">157464<td align="right">180662<td align="right">155520
<td align="right">167928<td align="right">169987<td align="right">165840
<td align="right">167928<td align="right">169987<td align="right">165840
<td align="right">178459<td align="right">159408<td align="right">176256
<td align="right">157464<td align="right">180662<td align="right">155520
</table>

<h2>Examples</h2>

The three 6-ary Lyndon words of trace 2, subtrace 1 and length 3 are $\{011, 134, 143\}$.
The two 6-ary Lyndon words of trace 3, subtrace 5 and length 3 are $\{135, 153\}$.
The six 6-ary Lyndon words of trace 5, subtrace 1 and length 4 are $\{0113, 0131, 0311, 1334, 1343, 1433\}$.

<h2>Enumeration (OEIS)</h2>

<ul>
<li>
Column (0,0) is <a href="http://oeis.org/A074422">OEIS A074422</a>.
<li>
Column (0,1) is <a href="http://oeis.org/A074423">OEIS A074423</a>.
<li>
Column (0,2) is <a href="http://oeis.org/A074424">OEIS A074424</a>.
<li>
Column (0,3) is <a href="http://oeis.org/A074425">OEIS A074425</a>.
<li>
Column (0,4) is <a href="http://oeis.org/A074426">OEIS A074426</a>.
<li>
Column (0,5) is <a href="http://oeis.org/A074427">OEIS A074427</a>.
<li>
Column (1,0),(5,0) is <a href="http://oeis.org/A074428">OEIS A074428</a>.
<li>
Column (1,1),(5,1) is <a href="http://oeis.org/A074429">OEIS A074429</a>.
<li>
Column (1,2),(5,2) is <a href="http://oeis.org/A074430">OEIS A074430</a>.
<li>
Column (1,3),(5,3) is <a href="http://oeis.org/A074431">OEIS A074431</a>.
<li>
Column (1,4),(5,4) is <a href="http://oeis.org/A074432">OEIS A074432</a>.
<li>
Column (1,5),(5,5) is <a href="http://oeis.org/A074433">OEIS A074433</a>.
<li>
Column (2,0),(4,0) is <a href="http://oeis.org/A074434">OEIS A074434</a>.
<li>
Column (2,1),(4,1) is <a href="http://oeis.org/A074435">OEIS A074435</a>.
<li>
Column (2,2),(4,2) is <a href="http://oeis.org/A074436">OEIS A074436</a>.
<li>
Column (2,3),(4,3) is <a href="http://oeis.org/A074437">OEIS A074437</a>.
<li>
Column (2,4),(4,4) is <a href="http://oeis.org/A074438">OEIS A074438</a>.
<li>
Column (2,5),(4,5) is <a href="http://oeis.org/A074439">OEIS A074439</a>.
<li>
Column (3,0) is <a href="http://oeis.org/A074440">OEIS A074440</a>.
<li>
Column (3,1) is <a href="http://oeis.org/A074441">OEIS A074441</a>.
<li>
Column (3,2) is <a href="http://oeis.org/A074442">OEIS A074442</a>.
<li>
Column (3,3) is <a href="http://oeis.org/A074443">OEIS A074443</a>.
<li>
Column (3,4) is <a href="http://oeis.org/A074444">OEIS A074444</a>.
<li>
Column (3,5) is <a href="http://oeis.org/A074445">OEIS A074445</a>.
</ul>  