<h1>Lyndon words over $GF(3)$ with given trace and subtrace</h1>

Here we consider the number $L(n;t,s)$ of length $n$ Lyndon words $a_1 a_2 \ldots a_n$ over the alphabet consisting of the elements of the field $GF(3)$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a Lyndon word is the sum of its digits over the field, i.e., $t = a_1 + a_2 + \cdots + a_n$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken over the field, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.
Note that $GF(3)=\mathbb{Z}_3$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="6">(trace,subtrace)</td>
<tr>  
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)
<td class="special" align="center">(0,2)
<td class="special" align="center">(1,0)<br>(2,0)
<td class="special" align="center">(1,1)<br>(2,1)
<td class="special" align="center">(1,2)<br>(2,2)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0
<tr><th align="center" class="special">2</th>
<td align="right">0<td align="right">0<td align="right">1
<td align="right">1<td align="right">0<td align="right">0
<tr><th align="center" class="special">3</th>
<td align="right">0<td align="right">0<td align="right">2
<td align="right">1<td align="right">1<td align="right">1
<tr><th align="center" class="special">4</th>
<td align="right">2<td align="right">1<td align="right">3
<td align="right">2<td align="right">1<td align="right">3
<tr><th align="center" class="special">5</th>
<td align="right">4<td align="right">6<td align="right">6
<td align="right">6<td align="right">4<td align="right">6
<tr><th align="center" class="special">6</th>
<td align="right">9<td align="right">14<td align="right">15
<td align="right">13<td align="right">13<td align="right">13
<tr><th align="center" class="special">7</th>
<td align="right">32<td align="right">36<td align="right">36
<td align="right">32<td align="right">36<td align="right">36
<tr><th align="center" class="special">8</th>
<td align="right">90<td align="right">93<td align="right">87
<td align="right">87<td align="right">90<td align="right">93
<tr><th align="center" class="special">9</th>
<td align="right">240<td align="right">252<td align="right">234
<td align="right">243<td align="right">243<td align="right">243
<tr><th align="center" class="special">10</th>
<td align="right">654<td align="right">661<td align="right">645
<td align="right">654<td align="right">661<td align="right">645
<tr><th align="center" class="special">11</th>
<td align="right">1804<td align="right">1782<td align="right">1782
<td align="right">1782<td align="right">1804<td align="right">1782
<tr><th align="center" class="special">12</th>
<td align="right">4950<td align="right">4893<td align="right">4893
<td align="right">4914<td align="right">4914<td align="right">4914
<tr><th align="center" class="special">13</th>
<td align="right">13664<td align="right">13608<td align="right">13608
<td align="right">13664<td align="right">13608<td align="right">13608
<tr><th align="center" class="special">14</th>
<td align="right">37944<td align="right">37890<td align="right">37994
<td align="right">37994<td align="right">37944<td align="right">37890
<tr><th align="center" class="special">15</th>
<td align="right">106272<td align="right">106142<td align="right">106434
<td align="right">106288<td align="right">106288<td align="right">106288
<tr><th align="center" class="special">16</th>
<td align="right">298890<td align="right">298755<td align="right">299025
<td align="right">298890<td align="right">298755<td align="right">299025
<tr><th align="center" class="special">17</th>
<td align="right">843796<td align="right">844182<td align="right">844182
<td align="right">844182<td align="right">843796<td align="right">844182
<tr><th align="center" class="special">18</th>
<td align="right">2390595<td align="right">2391732<td align="right">2391723
<td align="right">2391363<td align="right">2391363<td align="right">2391363
<tr><th align="center" class="special">19</th>
<td align="right">6796160<td align="right">6797196<td align="right">6797196
<td align="right">6796160<td align="right">6797196<td align="right">6797196
<tr><th align="center" class="special">20</th>
<td align="right">19370696<td align="right">19371684<td align="right">19369708
<td align="right">19369708<td align="right">19370696<td align="right">19371684
</table>

<h2>Examples</h2>

The two ternary Lyndon words of trace 0, subtrace 0 and length 4 are $\{0111, 0222\}$.
The three ternary Lyndon words of trace 1, subtrace 2 and length 4 are $\{0112, 0121, 0211\}$.
The six ternary Lyndon words of trace 2, subtrace 2 and length 5 are $\{00122, 00212, 00221, 01022, 01202, 02021\}$.

<h2>Enumeration (OEIS)</h2>

<ul>
<li>
$L_3(n;0,0)$ is <a href="http://oeis.org/A053548">OEIS A053548</a>.
<li>
$L_3(n;0,1)$ is <a href="http://oeis.org/A053560">OEIS A053560</a>.
<li>
$L_3(n;0,2)$ is <a href="http://oeis.org/A053561">OEIS A053561</a>.
<li>
$L_3(n;2,0)=L_3(n;1,0)$ is <a href="http://oeis.org/A053562">OEIS A053562</a>.
<li>
$L_3(n;1,1)=L_3(n;2,1)$ is <a href="http://oeis.org/A053563">OEIS A053563</a>.
<li>
$L_3(n;1,2)=L_3(n;2,2)$ is <a href="http://oeis.org/A053564">OEIS A053564</a>.
</ul>