<h1>Lyndon words over $GF(2)$ with given trace and subtrace</h1>

Here we consider the number $L(n;t,s)$ of length $n$ Lyndon words $a_1 a_2 \ldots a_n$ over the alphabet consisting of the elements of the field $GF(2)$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a Lyndon word is the sum of its digits over the field, i.e., $t = a_1 + a_2 + \cdots + a_n$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken over the field, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.
Note that $GF(2)=\mathbb{Z}_2$.

<p>
<table class="data"><tr>
<td> 
<td align="center" colspan="4">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)
<td class="special" align="center">(1,0)
<td class="special" align="center">(1,1)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">1
<td align="right">0
<tr><th align="center" class="special">2</th>
<td align="right">0<td align="right">0<td align="right">1
<td align="right">0
<tr><th align="center" class="special">3</th>
<td align="right">0<td align="right">1<td align="right">1
<td align="right">0
<tr><th align="center" class="special">4</th>
<td align="right">0<td align="right">1<td align="right">1
<td align="right">1
<tr><th align="center" class="special">5</th>
<td align="right">1<td align="right">2<td align="right">1
<td align="right">2
<tr><th align="center" class="special">6</th>
<td align="right">2<td align="right">2<td align="right">2
<td align="right">3
<tr><th align="center" class="special">7</th>
<td align="right">5<td align="right">4<td align="right">4
<td align="right">5
<tr><th align="center" class="special">8</th>
<td align="right">8<td align="right">6<td align="right">8
<td align="right">8
<tr><th align="center" class="special">9</th>
<td align="right">15<td align="right">13<td align="right">15
<td align="right">13
<tr><th align="center" class="special">10</th>
<td align="right">24<td align="right">24<td align="right">27
<td align="right">24
<tr><th align="center" class="special">11</th>
<td align="right">45<td align="right">48<td align="right">48
<td align="right">45
<tr><th align="center" class="special">12</th>
<td align="right">80<td align="right">85<td align="right">85
<td align="right">85
<tr><th align="center" class="special">13</th>
<td align="right">155<td align="right">160<td align="right">155
<td align="right">160
<tr><th align="center" class="special">14</th>
<td align="right">288<td align="right">288<td align="right">288
<td align="right">297
<tr><th align="center" class="special">15</th>
<td align="right">550<td align="right">541<td align="right">541
<td align="right">550
<tr><th align="center" class="special">16</th>
<td align="right">1024<td align="right">1008<td align="right">1024
<td align="right">1024
<tr><th align="center" class="special">17</th>
<td align="right">1935<td align="right">1920<td align="right">1935
<td align="right">1920
<tr><th align="center" class="special">18</th>
<td align="right">3626<td align="right">3626<td align="right">3654
<td align="right">3626
<tr><th align="center" class="special">19</th>
<td align="right">6885<td align="right">6912<td align="right">6912
<td align="right">6885
<tr><th align="center" class="special">20</th>
<td align="right">13056<td align="right">13107<td align="right">13107
<td align="right">13107
</table>

<h2>Examples</h2>

The one binary Lyndon word of trace 1, subtrace 0 and length 3 is $\{001\}$.
The two binary Lyndon words of trace 0, subtrace 1 and length 5 are $\{00011, 00101\}$.
The two binary Lyndon words of trace 0, subtrace 0 and length 6 are $\{001111, 010111\}$.

<h2>Enumeration (OEIS)</h2>

<ul>
<li>
Column (0,0) is <a href="http://oeis.org/A074027">OEIS A074027</a>.
<li>
Column (0,1) is <a href="http://oeis.org/A074028">OEIS A074028</a>.
<li>
Column (1,0) is <a href="http://oeis.org/A074029">OEIS A074029</a>.
<li>
Column (1,1) is <a href="http://oeis.org/A074030">OEIS A074030</a>.
</ul>