<h1>Irreducible polynomials over GF(2) with given trace and subtrace</h1>

Let $p(x)$ be a polynomial of degree $n$.
The <span class="def">trace</span> of $p(x)$ is the coefficient of $x^{n-1}$.
The <span class="def">subtrace</span> of $p(x)$ is the coefficient of $x^{n-2}$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="4">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<th class="special">(0,0)<th class="special">(0,1)</th>
<th class="special">(1,0)<th class="special">(1,1)</th>
<tr><th class="special" align="center">1</th>
<td align="right">1<td align="right">0<td align="right">1<td align="right">0
<tr><th class="special" align="center">2</th>
<td align="right">0<td align="right">0<td align="right">0<td align="right">1
<tr><th class="special" align="center">3</th>
<td align="right">0<td align="right">1<td align="right">1<td align="right">0
<tr><th class="special" align="center">4</th>
<td align="right">1<td align="right">0<td align="right">1<td align="right">1
<tr><th class="special" align="center">5</th>
<td align="right">1<td align="right">2<td align="right">1<td align="right">2
<tr><th class="special" align="center">6</th>
<td align="right">2<td align="right">2<td align="right">3<td align="right">2
<tr><th class="special" align="center">7</th>
<td align="right">5<td align="right">4<td align="right">4<td align="right">5
<tr><th class="special" align="center">8</th>
<td align="right">6<td align="right">8<td align="right">8<td align="right">8
<tr><th class="special" align="center">9</th>
<td align="right">15<td align="right">13<td align="right">15<td align="right">13
<tr><th class="special" align="center">10</th>
<td align="right">24<td align="right">24<td align="right">24<td align="right">27
<tr><th class="special" align="center">11</th>
<td align="right">45<td align="right">48<td align="right">48<td align="right">45
<tr><th class="special" align="center">12</th>
<td align="right">85<td align="right">80<td align="right">85<td align="right">85
<tr><th class="special" align="center">13</th>
<td align="right">155<td align="right">160<td align="right">155<td align="right">160
<tr><th class="special" align="center">14</th>
<td align="right">288<td align="right">288<td align="right">297<td align="right">288
<tr><th class="special" align="center">15</th>
<td align="right">550<td align="right">541<td align="right">541<td align="right">550
<tr><th class="special" align="center">16</th>
<td align="right">1008<td align="right">1024<td align="right">1024<td align="right">1024
<tr><th class="special" align="center">17</th>
<td align="right">1935<td align="right">1920<td align="right">1935<td align="right">1920
<tr><th class="special" align="center">18</th>
<td align="right">3626<td align="right">3626<td align="right">3626<td align="right">3654
<tr><th class="special" align="center">19</th>
<td align="right">6885<td align="right">6912<td align="right">6912<td align="right">6885
<tr><th class="special" align="center">20</th>
<td align="right">13107<td align="right">13056<td align="right">13107<td align="right">13107
<tr><th class="special" align="center">21</th>
<td align="right">24940<td align="right">24989<td align="right">24940<td align="right">24989
<tr><th class="special" align="center">22</th>
<td align="right">47616<td align="right">47616<td align="right">47709<td align="right">47616
<tr><th class="special" align="center">23</th>
<td align="right">91225<td align="right">91136<td align="right">91136<td align="right">91225
<tr><th class="special" align="center">24</th>
<td align="right">174590<td align="right">174760<td align="right">174760<td align="right">174760
<tr><th class="special" align="center">25</th>
<td align="right">335626<td align="right">335462<td align="right">335626<td align="right">335462
</table>

<h2>Enumeration (OEIS)</h2>

<ul>
<li>
The number $L(n;k)$ of length $n$ binary Lyndon words of density $k$ is
\[
L(n;k)=\frac{1}{n}\sum_{d\vert \gcd(n,k)} \mu(d)\binom{n/d}{k/d}.
\]
Let $S$ be a subset of $\{0,1,\ldots,n\}$ and let
\[
  e(S)=\sum_{k\text{ in }S} L(n;k).
\]

<li>
Column (0,0) has value $e(\{k \text{ such that } k+n = 0 \pmod{4}\})$, which is <a href="http://oeis.org/A042980">OEIS A042980</a>.
<li>
Column (0,1) has value $e(\{k \text{ such that } k+n = 1 \pmod{4}\})$, which is <a href="http://oeis.org/A042979">OEIS A042979</a>.
<li>
Column (1,0) has value $e(\{k \text{ such that } k+n = 2 \pmod{4}\})$, which is <a href="http://oeis.org/A042981">OEIS A042981</a>.
<li>
Column (1,1) has value $e(\{k \text{ such that } k+n = 3 \pmod{4}\})$, which is <a href="http://oeis.org/A042982">OEIS A042982</a>.
</ul>

<h2>References</h2>

<ul id="refs">
<li>[CMR+03] K. Cattell, C. R. Miers, F. Ruskey, J. Sawada, and M. Serra. The number of irreducible polynomials over GF(2) with given trace and subtrace. J. Combin. Math.
Combin. Comput., 47:31–64, 2003.</li>
</ul>