<h1>Strings over $GF(5)$ with given trace and subtrace</h1>

Here we consider the number $S(n;t,s)$ of length $n$ words $a_1 a_2 \ldots a_n$ over the alphabet consisting of the elements of the field $GF(5)$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a word is the sum of its digits over the field, i.e., $t = a_1 + a_2 + \cdots + a_n$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken over the field, i.e., $s = \sum_{1\leq i\lt j\leq n} a_i a_j$. 
Note that $GF(5) = \mathbb{Z}_5$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="13">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)<br>(0,4)
<td class="special" align="center">(0,2)<br>(0,3)
<td class="special" align="center">(1,0)<br>(2,0)<br>(3,0)<br>(4,0)
<td class="special" align="center">(1,1)<br>(2,4)<br>(3,4)<br>(4,1)
<td class="special" align="center">(1,2)<br>(2,3)<br>(3,3)<br>(4,2)
<td class="special" align="center">(1,3)<br>(2,2)<br>(3,2)<br>(4,3)
<td class="special" align="center">(1,4)<br>(2,1)<br>(3,1)<br>(4,4)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">0
<td align="right">1
<td align="right">0<td align="right">0<td align="right">0
<td align="right">0 
<tr><th align="center" class="special">2</th>
<td align="right">1<td align="right">2<td align="right">0
<td align="right">2
<td align="right">0<td align="right">0<td align="right">2
<td align="right">1  
<tr><th align="center" class="special">3</th>
<td align="right">1<td align="right">6<td align="right">6
<td align="right">6
<td align="right">6<td align="right">1<td align="right">6
<td align="right">6 
<tr><th align="center" class="special">4</th>
<td align="right">25<td align="right">20<td align="right">30
<td align="right">20
<td align="right">25<td align="right">20<td align="right">30
<td align="right">30 
<tr><th align="center" class="special">5</th>
<td align="right">125<td align="right">100<td align="right">150
<td align="right">125
<td align="right">125<td align="right">125<td align="right">125
<td align="right">125  
<tr><th align="center" class="special">6</th>
<td align="right">625<td align="right">600<td align="right">650
<td align="right">625
<td align="right">600<td align="right">650<td align="right">650
<td align="right">600 
<tr><th align="center" class="special">7</th>
<td align="right">3025<td align="right">3150<td align="right">3150
<td align="right">3150
<td align="right">3150<td align="right">3150<td align="right">3150
<td align="right">3025 
<tr><th align="center" class="special">8</th>
<td align="right">15625<td align="right">15750<td align="right">15500
<td align="right">15500
<td align="right">15750<td align="right">15625<td align="right">15750
<td align="right">15500 
<tr><th align="center" class="special">9</th>
<td align="right">78625<td align="right">78000<td align="right">78000
<td align="right">78000
<td align="right">78625<td align="right">78000<td align="right">78000
<td align="right">78000  
<tr><th align="center" class="special">10</th>
<td align="right">393125<td align="right">390000<td align="right">390000
<td align="right">390625
<td align="right">390625<td align="right">390625<td align="right">390625
<td align="right">390625  
</table>

<h2>Examples</h2> 

The two 5-ary  strings of trace 0, subtrace 4 and length 2 are $\{14, 41\}$.
The two 5-ary strings of trace 3, subtrace 2 and length 2 are $\{12, 21\}$.
The one 5-ary string of trace 1, subtrace 2 and length 3 is $\{222\}$.

<h2>Enumeration (OEIS)</h2>

<ul> 
<li>
The number $S(n;t,s)$ can be computed from the following recurrence relation
\[
S(n;t,s) = S(n-1;t,s) + S(n-1;t-1,s-(t-1)) + S(n-1;t-2,s-2(t-2)) + S(n-1;t-3,s-3(t-3)) + S(n-1;t-4,s-4(t-4)).
\]
Note that all operations involving operands $t$ or $s$ are carried out over $GF(5)$.

<li>
Column (0,0) is <a href="http://oeis.org/A073963">OEIS A073963</a>.
<li>
Column (0,1),(0,4) is <a href="http://oeis.org/A073964">OEIS A073964</a>.
<li>
Column (0,2),(0,3) is <a href="http://oeis.org/A073965">OEIS A073965</a>.
<li>
Column (1,0),(2,0),(3,0),(4,0) is <a href="http://oeis.org/A073966">OEIS A073966</a>.
<li>
Column (1,1),(2,4),(3,4),(4,1) is <a href="http://oeis.org/A073967">OEIS A073967</a>.
<li>
Column (1,2),(2,3),(3,3),(4,2) is <a href="http://oeis.org/A073968">OEIS A073968</a>.
<li>
Column (1,3),(2,2),(3,2),(4,3) is <a href="http://oeis.org/A073969">OEIS A073969</a>.
<li>
Column (1,4),(2,1),(3,1),(4,4) is <a href="http://oeis.org/A073970">OEIS A073970</a>.
</ul>