<h1>4-ary words with given trace and subtrace</h1>

Here we consider the number $S(n;t,s)$ of length $n$ words $a_1 a_2\ldots a_n$ over the alphabet $\{0,1,\ldots,k-1\}$ with $k=4$ that have trace $t$ and subtrace $s$.
The <span class="def">trace</span> of a $k$-ary word is the sum of its digits mod $k$, i.e., $t=a_1+a_2+\cdots+a_n \pmod{k}$.
The <span class="def">subtrace</span> is the sum of the products of all $n(n-1)/2$ pairs of digits taken mod $k$, i.e., $s=\sum_{1\leq i\lt j\leq n} a_i a_j$.

<p>
<table class="data"><tr>
<td>
<td align="center" colspan="12">(trace,subtrace)</td>
<tr>
<td align="center">$n$
<td class="special" align="center">(0,0)
<td class="special" align="center">(0,1)<br>(2,3)
<td class="special" align="center">(0,2)
<td class="special" align="center">(0,3)<br>(2,1)
<td class="special" align="center">(1,0)<br>(3,0)
<td class="special" align="center">(1,1)<br>(3,1)
<td class="special" align="center">(1,2)<br>(3,2)
<td class="special" align="center">(1,3)<br>(3,3)
<td class="special" align="center">(2,0)
<td class="special" align="center">(2,2)
<tr><th align="center" class="special">1</th>
<td align="right">1<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0<td align="right">0<td align="right">0
<td align="right">1<td align="right">0 
<tr><th align="center" class="special">2</th>
<td align="right">2<td align="right">0<td align="right">0<td align="right">2
<td align="right">2<td align="right">0<td align="right">2<td align="right">0
<td align="right">2<td align="right">0 
<tr><th align="center" class="special">3</th>
<td align="right">4<td align="right">6<td align="right">0<td align="right">6
<td align="right">6<td align="right">0<td align="right">6<td align="right">4
<td align="right">4<td align="right">0  
<tr><th align="center" class="special">4</th>
<td align="right">8<td align="right">24<td align="right">8<td align="right">24
<td align="right">16<td align="right">16<td align="right">16<td align="right">16
<td align="right">16<td align="right">0  
<tr><th align="center" class="special">5</th>
<td align="right">56<td align="right">80<td align="right">40<td align="right">80
<td align="right">40<td align="right">80<td align="right">56<td align="right">80
<td align="right">56<td align="right">40
<tr><th align="center" class="special">6</th>
<td align="right">272<td align="right">272  
<td align="right">240<td align="right">240
<td align="right">192<td align="right">320  
<td align="right">192<td align="right">320
<td align="right">272   
<td align="right">240 
<tr><th align="center" class="special">7</th>
<td align="right">1184<td align="right">896  
<td align="right">1120<td align="right">896
<td align="right">896<td align="right">1184 
<td align="right">896<td align="right">1120
<td align="right">1184   
<td align="right">1120  
<tr><th align="center" class="special">8</th>
<td align="right">4763<td align="right">3584 
<td align="right">4480<td align="right">3584
<td align="right">4096<td align="right">4096 
<td align="right">4096<td align="right">4096
<td align="right">4608 
<td align="right">4608 
<tr><th align="center" class="special">9</th>
<td align="right">17536<td align="right">15360
<td align="right">17536<td align="right">15360
<td align="right">17536<td align="right">15360
<td align="right">17536<td align="right">15360
<td align="right">17536 
<td align="right">17536 
<tr><th align="center" class="special">10</th>
<td align="right">65792<td align="right">65280
<td align="right">65280<td align="right">65792
<td align="right">69632<td align="right">61440
<td align="right">69632<td align="right">61440
<td align="right">65792 
<td align="right">65280
</table>

<h2>Examples</h2>

The two 4-ary strings of trace 0, subtrace 3 and length 2 are $\{13, 31\}$.
The four 4-ary strings of trace 0, subtrace 0 and length 3 are $\{000, 022, 202, 220\}$.
The four 4-ary strings of trace 2, subtrace 0 and length 3 are $\{002, 020, 200, 222\}$.

<h2>Enumeration (OEIS)</h2>
<ul> 
<li>
The number $S(n;t,s)$ can be computed from the following recurrence relation
\begin{align}
S(n;t,s) &= S(n-1;t,s) + S(n-1;t-1,s-(t-1)) + S(n-1;t-2,s-2(t-2)) + S(n-1;t-3,s-3(t-3)) \\
         &= S(n-1;t,s) + S(n-1;t+3,s+3t+1) + S(n-1;t+2,s+2t) + S(n-1;t+1,s+t+1).
\end{align}

<li>
$S(n;1,s) = S(n;3,s)$ follows from the bijection that swaps each digit of the string with its negation.
<li>
It appears that 
$S(n;0,1) = S(n;2,3)$ and $S(n;0,3) = S(n;2,1)$. Proof?
<li>
Each column is a sequence whose ordinary generating function is rational with denominator $D=(4z-1)(8z^2-4z+1)(16z^4+1)(2z-1)$.

<li>
Column (0,0) is <a href="http://oeis.org/A068620">OEIS A068620</a>.
The numerator of the ordinary generating function is $1+32z^2+48z^4+352z^6-576z^7-56z^3-104z^5-9z+320z^8$.
<li>
Column (0,1),(2,3) is <a href="http://oeis.org/A068711">OEIS A068711</a>.
<li>
Column (0,2) is <a href="http://oeis.org/A068774">OEIS A068774</a>.
<li>
Column (0,3),(2,1) is <a href="http://oeis.org/A068777">OEIS A068777</a>.
<li>
Column (1,0),(3,0) is <a href="http://oeis.org/A068786">OEIS A068786</a>.
<li>
Column (1,1),(3,1) is <a href="http://oeis.org/A068778">OEIS A068778</a>.
<li>
Column (1,2),(3,2) is <a href="http://oeis.org/A068787">OEIS A068787</a>.
<li>
Column (1,3),(3,3) is <a href="http://oeis.org/A068788">OEIS A068788</a>.
<li>
Column (2,0) is <a href="http://oeis.org/A068789">OEIS A068789</a>.
<li>
Column (2,2) is <a href="http://oeis.org/A068790">OEIS A068790</a>.
<li>
These numbers are defined and used in a more general setting in the papers [MR04a] and [MR04b].
</ul>

<h2>References</h2>
<ul id="refs">
<li>
[MR04a] C. R. Miers and F. Ruskey. Counting strings with given elementary symmetric function evaluations. I. Strings over $Z_p$ with $p$ prime. SIAM J. Discrete Math., 17(4):675–685, 2004.
</li>
<li>
[MR04b] C. R. Miers and F. Ruskey. Counting strings with given elementary symmetric function evaluations. II. Circular strings. SIAM J. Discrete Math., 18(1):71–82, 2004.
</li>
</ul>