A <span class="def">multiset</span> is a set where some elements may appear multiple times.
For simplicity, we always consider the ground set $\{1,2,\ldots,n\}$.
The number of times that each element appears in the multiset is counted by the <span class="def">frequence sequence</span> $f_1,f_2,\ldots,f_n$, i.e., $f_i$ counts the number of occurences of the element $i$.
Multiset permutations generalize many other combinatorial objects.
Specifically, a multiset permutation with $f_1=f_2=\cdots=f_n=1$ is an ordinary <a href="perm">permutation</a>, and a multiset permutation with $n=2$ is a <a href="comb">combination</a>, i.e., it can be interpreted as the characteristic vector of an $f_1$-element subset of an $(f_1+f_2)$-element ground set.

<p>
The first three algorithms running on this page are part of J&ouml;rg Arndt's FXT library.
The iterative algorithm for lexicographic ordering is explained in J&ouml;rg Arndt's FXT library [Section 13.2.2, Arn10].
The minimal-change algorithm follows a Steinhaus-Johnson-Trotter adjacent transposition strategy by Fred Lunnon.
Lunnon sent the algorithm to J&ouml;rg Arndt as a personal communication, and it appears in Arndt's book [Section 13.2.4, Arn10].
The prefix rotation algorithm uses a multiset generalization of cool-lex order by Williams [Wil09].
The implementation is currently from Arndt's book [Section 13.2.3, Arn10].
Cool-lex order can also be filtered by the aperiodic prefixes of its necklaces, and the result is a shorthand universal cycle for the multiset permutations.
When these multiset permutations are listed the order uses only prefix rotations of length $n-1$ and $n$.
This result is explained in Williams' PhD thesis [Section 13.2.3, Wil09b].
<!--and the efficient implementation is due to Joe Sawada.-->