<ul id="refs">
<li>[Arn10] J. Arndt. Matters Computational - Ideas, Algorithms, Source Code [The fxtbook]. www.jjj.de, 2010.
</li>
<li>[Wil09] A. Williams. Loopless Generation of Multiset Permutations using a Constant Number of Variables by Prefix Shifts.  In Proceedings of the 20th Annual ACM-SIAM Symposium on Discrete Algorithms, SODA 2009, pages 987–996, 2009.
</li>
<li>[Wil09b] A. Williams. Shift Gray Codes (PhD thesis), 2009.
</li>
</ul>