<table id="input">
<tr>
<td>Input graph</td>
<td><textarea id="g" rows="5" cols="40" maxlength="2000"></textarea></td>
</tr>
<tr>
<td>Predefined inputs</td>
<td>
<select id="gs" autocomplete="off" onchange="gchange()">
  <option value="0">--none--</option>
  <option value="1" selected>Cycle graph C5</option>
  <option value="2">Wheel graph W5</option>
  <option value="3">Complete graph K4</option>
  <option value="4">Complete bipartite graph K3,3</option>
  <option value="5">Bowtie graph</option>
  <option value="6">Cube Q3</option>
  <option value="7">3x3 grid graph</option>
  <option value="8">Petersen graph</option>
</select>
</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="1" selected>text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function gchange()
{
  var selg = document.getElementById("gs");
  var inpg = document.getElementById("g");
  switch(selg.options[selg.selectedIndex].value) {
    case "0": inpg.value = ""; break;
    case "1": inpg.value = "1,2; 2,3; 3,4; 4,5; 5,1"; break;
    case "2": inpg.value = "1,2; 2,3; 3,4; 4,5; 5,1; c,1; c,2; c,3; c,4; c,5"; break;
    case "3": inpg.value = "1,2; 1,3; 1,4; 2,3; 2,4; 3,4"; break;
    case "4": inpg.value = "a1,a2; a1,b2; a1,c2; b1,a2; b1,b2; b1,c2; c1,a2; c1,b2; c1,c2"; break;
    case "5": inpg.value = "1,2; 1,3; 2,3; 3,4; 4,5; 4,6; 5,6"; break;
    case "6": inpg.value = "000,001; 000,010; 000,100; 001,011; 001,101; 010,011; 010,110; 100,101; 100,110; 011,111; 101,111; 110,111"; break;
    case "7": inpg.value = "00,01; 00,10; 01,02; 01,11; 02,12; 10,11; 10,20; 11,12; 11,21; 12,22; 20,21; 21,22"; break;
    case "8": inpg.value = "12,34; 12,35; 12,45; 13,24; 13,25; 13,45; 14,23; 14,25; 14,35; 15,23; 15,24; 15,34; 23,45; 24,35; 25,34"; break;
  }
}

function run()
{
  enlarge_output();
  var selfmt = document.getElementById("fmt");  
  var url = "web/span/run.php?s=" + encodeURIComponent(document.getElementById("g").value)
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value;
  document.getElementById("consoleframe").src = url;
}
</script>

<script> gchange(); </script>
