<table id="input">
<tr>
<td>Object type</td>
<td>
<select id="t" autocomplete="off">
  <option value="1" selected>Open meanders</option>
  <option value="2">Semi-meanders</option>
  <option value="3">Stamp foldings</option>
  <option value="4">Symmetric meanders</option>
  <option value="5">Symmetric semi-meanders</option>
  <option value="6">Unlabeled stamp foldings</option>
</select>
</td>
</tr>
<tr>
<td>String length $n$</td>
<td><input type="text" id="n" value="7" size="3" maxlength="3"/> (max. 20)</td>
</tr>
<tr>
<td>Output format</td>
<td>
<select id="fmt" autocomplete="off">
  <option value="0" selected>graphics (&le;<?php echo limit(0); ?> objects)</option>
  <option value="1">text (&le;<?php echo limit(1); ?> objects)</option>
  <option value="2">file (&le;<?php echo limit(2); ?> objects)</option>
</select>
</td>
</tr>
<tr>
<td></td>
<td><input type="button" id="run" value="Generate" onclick="run()"/></td>
</tr>
</table>

<!-- kick off object generation -->

<script>
function run()
{
  enlarge_output();
  output_buttons();
  var selt = document.getElementById("t");
  var selfmt = document.getElementById("fmt");
  var url = "web/meander/run.php?"
            + "&n=" + document.getElementById("n").value
            + "&t=" + selt.options[selt.selectedIndex].value
            + "&fmt=" + selfmt.options[selfmt.selectedIndex].value
            + "&num=" + document.getElementById("numbering").checked
            + "&gfx=" + document.getElementById("graphics").checked;
  document.getElementById("consoleframe").src = url;
}
</script>
