A <span class="def">free plane tree</span> is a tree in which the neighbors of each vertex have a specified cyclic ordering.
We think of this ordering as the cyclic ordering in which the neighbors appear around each vertex in an embedding of the tree in the plane.
A <span class="def">rooted plane tree</span> has in addition a marked vertex called the <span class="def">root</span>.

<p>
The algorithm for tree generation running on this website is described in Sawada's paper [Saw06].
In graphical output, the trees are drawn as rooted trees with the root on the left and the children growing to the right.
The root of rooted plane trees is highlighed red, and for free plane trees an arbitrary vertex is picked as the root (not highlighted).
In textual output, each tree is printed in level representation, i.e., the sequence obtained by traversing the tree in pre-order, and recording the depth (=distance from the root) of each vertex.
All trees with $n=5$ vertices are shown in the following figure.

<p>
<table style="border-spacing:8px 4px">
<style>.l{stroke:black;stroke-width:1.5}.c{stroke-width:0;fill:black}</style>
<tr>
<td></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td>
</tr>
<tr>
<td>level<br>sequence</td>
<td>01111</td>
<td>01112</td>
<td>01122</td>
<td>01123</td>
<td>01212</td>
<td>01222</td>
<td>01223</td>
<td>01232</td>
<td>01233</td>
<td>01234</td>
</tr>
<tr>
<td>rooted</td>
<td><svg width='61' height='47' viewBox='-2.5 -2.5 61 47'><line class='l' x1='14' y1='42' x2='0' y2='21'/><circle class='c' cx='14' cy='42' r='2.5'/><line class='l' x1='14' y1='28' x2='0' y2='21'/><circle class='c' cx='14' cy='28' r='2.5'/><line class='l' x1='14' y1='14' x2='0' y2='21'/><circle class='c' cx='14' cy='14' r='2.5'/><line class='l' x1='14' y1='0' x2='0' y2='21'/><circle class='c' cx='14' cy='0' r='2.5'/><circle class='c' cx='0' cy='21' r='2.5' style='fill:red'/></svg></td>
<td><svg width='61' height='33' viewBox='-2.5 -2.5 61 33'><line class='l' x1='14' y1='28' x2='0' y2='14'/><circle class='c' cx='14' cy='28' r='2.5'/><line class='l' x1='14' y1='14' x2='0' y2='14'/><circle class='c' cx='14' cy='14' r='2.5'/><line class='l' x1='14' y1='0' x2='0' y2='14'/><circle class='c' cx='14' cy='0' r='2.5'/><line class='l' x1='28' y1='14' x2='14' y2='0'/><circle class='c' cx='28' cy='14' r='2.5'/><circle class='c' cx='0' cy='14' r='2.5' style='fill:red'/></svg></td>
<td><svg width='61' height='19' viewBox='-2.5 -2.5 61 19'><line class='l' x1='14' y1='14' x2='0' y2='7'/><circle class='c' cx='14' cy='14' r='2.5'/><line class='l' x1='14' y1='0' x2='0' y2='7'/><circle class='c' cx='14' cy='0' r='2.5'/><line class='l' x1='28' y1='14' x2='14' y2='0'/><circle class='c' cx='28' cy='14' r='2.5'/><line class='l' x1='28' y1='0' x2='14' y2='0'/><circle class='c' cx='28' cy='0' r='2.5'/><circle class='c' cx='0' cy='7' r='2.5' style='fill:red'/></svg></td>
<td><svg width='61' height='19' viewBox='-2.5 -2.5 61 19'><line class='l' x1='14' y1='14' x2='0' y2='7'/><circle class='c' cx='14' cy='14' r='2.5'/><line class='l' x1='14' y1='0' x2='0' y2='7'/><circle class='c' cx='14' cy='0' r='2.5'/><line class='l' x1='28' y1='7' x2='14' y2='0'/><circle class='c' cx='28' cy='7' r='2.5'/><line class='l' x1='42' y1='7' x2='28' y2='7'/><circle class='c' cx='42' cy='7' r='2.5'/><circle class='c' cx='0' cy='7' r='2.5' style='fill:red'/></svg></td>
<td><svg width='61' height='19' viewBox='-2.5 -2.5 61 19'><line class='l' x1='14' y1='14' x2='0' y2='7'/><circle class='c' cx='14' cy='14' r='2.5'/><line class='l' x1='28' y1='14' x2='14' y2='14'/><circle class='c' cx='28' cy='14' r='2.5'/><line class='l' x1='14' y1='0' x2='0' y2='7'/><circle class='c' cx='14' cy='0' r='2.5'/><line class='l' x1='28' y1='0' x2='14' y2='0'/><circle class='c' cx='28' cy='0' r='2.5'/><circle class='c' cx='0' cy='7' r='2.5' style='fill:red'/></svg></td>
<td><svg width='61' height='33' viewBox='-2.5 -2.5 61 33'><line class='l' x1='14' y1='14' x2='0' y2='14'/><circle class='c' cx='14' cy='14' r='2.5'/><line class='l' x1='28' y1='28' x2='14' y2='14'/><circle class='c' cx='28' cy='28' r='2.5'/><line class='l' x1='28' y1='14' x2='14' y2='14'/><circle class='c' cx='28' cy='14' r='2.5'/><line class='l' x1='28' y1='0' x2='14' y2='14'/><circle class='c' cx='28' cy='0' r='2.5'/><circle class='c' cx='0' cy='14' r='2.5' style='fill:red'/></svg></td>
<td><svg width='61' height='19' viewBox='-2.5 -2.5 61 19'><line class='l' x1='14' y1='7' x2='0' y2='7'/><circle class='c' cx='14' cy='7' r='2.5'/><line class='l' x1='28' y1='14' x2='14' y2='7'/><circle class='c' cx='28' cy='14' r='2.5'/><line class='l' x1='28' y1='0' x2='14' y2='7'/><circle class='c' cx='28' cy='0' r='2.5'/><line class='l' x1='42' y1='7' x2='28' y2='0'/><circle class='c' cx='42' cy='7' r='2.5'/><circle class='c' cx='0' cy='7' r='2.5' style='fill:red'/></svg></td>
<td><svg width='61' height='19' viewBox='-2.5 -2.5 61 19'><line class='l' x1='14' y1='7' x2='0' y2='7'/><circle class='c' cx='14' cy='7' r='2.5'/><line class='l' x1='28' y1='14' x2='14' y2='7'/><circle class='c' cx='28' cy='14' r='2.5'/><line class='l' x1='42' y1='7' x2='28' y2='14'/><circle class='c' cx='42' cy='7' r='2.5'/><line class='l' x1='28' y1='0' x2='14' y2='7'/><circle class='c' cx='28' cy='0' r='2.5'/><circle class='c' cx='0' cy='7' r='2.5' style='fill:red'/></svg></td>
<td><svg width='61' height='19' viewBox='-2.5 -2.5 61 19'><line class='l' x1='14' y1='7' x2='0' y2='7'/><circle class='c' cx='14' cy='7' r='2.5'/><line class='l' x1='28' y1='7' x2='14' y2='7'/><circle class='c' cx='28' cy='7' r='2.5'/><line class='l' x1='42' y1='14' x2='28' y2='7'/><circle class='c' cx='42' cy='14' r='2.5'/><line class='l' x1='42' y1='0' x2='28' y2='7'/><circle class='c' cx='42' cy='0' r='2.5'/><circle class='c' cx='0' cy='7' r='2.5' style='fill:red'/></svg></td>
<td><svg width='61' height='5' viewBox='-2.5 -2.5 61 5'><line class='l' x1='14' y1='0' x2='0' y2='0'/><circle class='c' cx='14' cy='0' r='2.5'/><line class='l' x1='28' y1='0' x2='14' y2='0'/><circle class='c' cx='28' cy='0' r='2.5'/><line class='l' x1='42' y1='0' x2='28' y2='0'/><circle class='c' cx='42' cy='0' r='2.5'/><line class='l' x1='56' y1='0' x2='42' y2='0'/><circle class='c' cx='56' cy='0' r='2.5'/><circle class='c' cx='0' cy='0' r='2.5' style='fill:red'/></svg></td>
</tr>
<tr>
<td>free</td>
<td><svg width='61' height='47' viewBox='-2.5 -2.5 61 47'><line class='l' x1='14' y1='42' x2='0' y2='21'/><circle class='c' cx='14' cy='42' r='2.5'/><line class='l' x1='14' y1='28' x2='0' y2='21'/><circle class='c' cx='14' cy='28' r='2.5'/><line class='l' x1='14' y1='14' x2='0' y2='21'/><circle class='c' cx='14' cy='14' r='2.5'/><line class='l' x1='14' y1='0' x2='0' y2='21'/><circle class='c' cx='14' cy='0' r='2.5'/><circle class='c' cx='0' cy='21' r='2.5'/></svg></td>
<td><svg width='61' height='33' viewBox='-2.5 -2.5 61 33'><line class='l' x1='14' y1='28' x2='0' y2='14'/><circle class='c' cx='14' cy='28' r='2.5'/><line class='l' x1='14' y1='14' x2='0' y2='14'/><circle class='c' cx='14' cy='14' r='2.5'/><line class='l' x1='14' y1='0' x2='0' y2='14'/><circle class='c' cx='14' cy='0' r='2.5'/><line class='l' x1='28' y1='14' x2='14' y2='0'/><circle class='c' cx='28' cy='14' r='2.5'/><circle class='c' cx='0' cy='14' r='2.5'/></svg></td>
<td>=2</td>
<td>=5</td>
<td><svg width='61' height='19' viewBox='-2.5 -2.5 61 19'><line class='l' x1='14' y1='14' x2='0' y2='7'/><circle class='c' cx='14' cy='14' r='2.5'/><line class='l' x1='28' y1='14' x2='14' y2='14'/><circle class='c' cx='28' cy='14' r='2.5'/><line class='l' x1='14' y1='0' x2='0' y2='7'/><circle class='c' cx='14' cy='0' r='2.5'/><line class='l' x1='28' y1='0' x2='14' y2='0'/><circle class='c' cx='28' cy='0' r='2.5'/><circle class='c' cx='0' cy='7' r='2.5'/></svg></td>
<td>=1</td>
<td>=2</td>
<td>=2</td>
<td>=2</td>
<td>=5</td>
</tr>
</table>
